<div id="repo_setup_form_list" class="col-md-6 col-md-offset-3">
  <ol >
    <% unless @video.language.present? %>
      <li>
        <h4>The Video is in</h4>
        <%= select_tag("video_language_code", options_for_select(Video.language_select_options)) %>
      </li>
    <% end %>
    <li>
      <h4>Choose Subtitle language</h4>
      <%= select_tag("repo_language_code", options_for_select(Repository.language_select_options)) %>
    </li>

    <% if @is_upload %>
      <li>
        <h4>Choose File</h4>
        <p>We currently only accept subtitles in the SubRip format (file ends in .srt)</p>
        <%= file_field_tag "subtitle_file" %>
      </li>
    <% elsif @is_translate %>
      <%= hidden_field_tag "translate", true %> 
    <% end %>

    <% if false && current_user.groups.present? %>
      <li>
        <h4>Choose group to release under</h4>
        <%= select_tag("group_id", options_for_select(Group.selection_options_for(current_user))) %>
      </li>
    <% end %>
  </ol>
</div>
<div class="center">
  <input id="continue_btn" class="river_btn " type="submit" value="Continue">
</div>
