<div id="repo_setup_form_list" class="col-md-6 col-md-offset-3">
  <ol >
    <% if @video && @video.language.blank? %>
      <li>
        <h4>The Video is in</h4>
        <%= select_tag("video_language_code", options_for_select(Video.language_select_options)) %>
      </li>
    <% end %>

    <li>
      <h4>Choose Target language</h4>
      <%= select_tag("repo_language_code", options_for_select(Repository.language_select_options)) %>
    </li>

    <% if @is_upload %>
      <li>
        <h4>Choose File</h4>
        <p>We currently only accept subtitles in the SubRip format (file ends in .srt)</p>
        <%= file_field_tag "subtitle_file" %>
      </li>
    <% else %>
      <li>
        <h4>Translate from this Subtitle</h4>
          <select name="source_repo_token" class='editor_language_select' style='width: 150px;'>
            <% @video.repositories_visible_to_user(current_user).each do |repo| %>
              <option value="<%= repo.token %>" data-url="<%= repo.new_translation_url %>" <%= @source_repo == repo ? "selected" : "" %>>
                <%= repo.language_pretty %>
              </option>
            <% end %>
            <option value="" data-url="<%= @video.new_empty_repository_url %>" <%= @is_empty ? "selected" : "" %>>-- Start Empty --</option>
          </select>
          <% if @source_repo %>
            <ul class="source_repo_timing_list">
              <% @source_repo.timings.order("start_time").each do |timing| %>
                <li>
                  <span class="col-md-2"><%= timing.start_time %></span>
                  <span class="col-md-10"><%= timing.subtitle.text %></span>
                </li>
              <% end %>
            </ul>
          <% end %>
      </li>
    <% end %>

    <% if false && current_user.groups.present? %>
      <li>
        <h4>Choose group to release under</h4>
        <%= select_tag("group_id", options_for_select(Group.selection_options_for(current_user))) %>
      </li>
    <% end %>
  </ol>
</div>
<div class="center">
  <input id="continue_btn" class="river_btn " type="submit" value="Continue">
</div>
