<% set_meta_tags :site => 'Yasub', :title => "#{@repo.video.name}", :description => "Add/Edit Captions or Subtitles for a Youtube Video" %>

<div id='editor_container' data-repo='<%= @repo.serialize.to_json %>'></div>
<%= form_tag @repo.upload_subtitle_url, multipart: true, id: "upload_subtitle_form" do %>
  <h4>Upload Subtitle</h4>
  <p>Note that this will overwrite any existing work. The only subtitle format we allow is SubRip (file ends in .srt)</p>
  <%= file_field_tag "subtitle_file" %>
  <br>
  <input class="btn upload_subtitle_to_existing_repo_btn" type="submit" value="Submit">
<% end %>

<div class='font_manager' style='display: none;'>
  <div class='font_family_container'>
    Font Family: 
    <%= select_tag("font_family_select", options_for_select(Repository.font_family_select_options,@repo.font_family)) %>
  </div>
  <div class='font_size_container'>
    Font Size: 
    <%= select_tag("font_size_select", options_for_select(Repository.font_size_select_options,@repo.font_size)) %>
  </div>
  <div class='font_weight_container'>
    Font Weight: 
    <%= select_tag("font_weight_select", options_for_select(Repository.font_weight_select_options,@repo.font_weight)) %>
  </div>
  <div class='font_style_container'>
    Font Style: 
    <%= select_tag("font_style_select", options_for_select(Repository.font_style_select_options,@repo.font_style)) %>
  </div>
  <div class='font_color_container'>
    Font Color: 
    <input id='font_color_input' value="<%= @repo.font_color %>">
  </div>
  <div class='font_outline_color_container'>
    Font Outline Color: 
    <input id='font_outline_color_input' value="<%= @repo.font_outline_color %>">
  </div>
  <div class='font_outline_width_container'>
    Font Outline Width: 
    <%= select_tag("font_weight_select", options_for_select(Repository.font_outline_width_select_options,@repo.font_outline_width)) %>
  </div>
  <div class='font_outline_width_container'>
    Background: 
    <%= select_tag("font_background_select", options_for_select(Repository.font_background_select_options,@repo.font_background)) %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="keyboard_shortcuts_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-backdrop fade in" style="height: 984px;"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Keyboard Shortcuts</h4>
      </div>
      <div class="modal-body">
        <table class='table table-bordered table-striped'>
          <tr>
            <th>Command</th>
            <th>Mac</th>
            <th>Windows/Linux</th>
          </tr>
          <tr>
            <td>Play/Pause</td>
            <td>cmd + p</td>
            <td>ctrl + p</td>
          </tr>
          <tr>
            <td>Rewind</td>
            <td>left</td>
            <td>left</td>
          </tr>
          <tr>
            <td>Forward</td>
            <td>right</td>
            <td>right</td>
          </tr>
          <tr>
            <td>Mark Start Time</td>
            <td>/</td>
            <td>/</td>
          </tr>
          <tr>
            <td>Mark Start Time (alternative)</td>
            <td>cmd + e</td>
            <td>ctrl + e</td>
          </tr>
          <tr>
            <td>Mark Start Time (alternative)</td>
            <td>cmd + 3</td>
            <td>ctrl + 3</td>
          </tr>
          <tr>
            <td>Mark Stop Time</td>
            <td>/</td>
            <td>/</td>
          </tr>
          <tr>
            <td>Mark Stop Time (alternative)</td>
            <td>cmd + e</td>
            <td>ctrl + e</td>
          </tr>
          <tr>
            <td>Mark Stop Time (alternative)</td>
            <td>cmd + 4</td>
            <td>ctrl + 4</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<% if @modal_message %>
  <div class="modal fade" id="demo_mode_modal" tabindex="-1" role="dialog" aria-labelledby="demoModalLabel" aria-hidden="true">
    <div class="modal-backdrop fade in" style="height: 984px;"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="demoModalLabel"><%= @modal_title %></h4>
        </div>
        <div class="modal-body">
          <span><%= @modal_message %></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
