<% set_meta_tags :site => 'Yasub', :title => "#{@repo.video.name}", :description => "Add/Edit Captions or Subtitles for a Youtube Video" %>

<div id='editor_container' data-repo='<%= @repo.serialize.to_json %>'>
  <div id='editor' class="laptop  <%= @repo.editor_class %> ">
    <div id='editor-top' class='row'>
      <div class='repo_label_container'>
        <h5 id='repo_label'>
          <input type='text' class='repo_title_input' value='<%= @repo.title  %>'>
        </h5>
        <h5 class='keyboard_shortcut_container pull-right'><a class='keyboard_shortcut_btn pull-right'  data-toggle='modal' data-target='#keyboard_shortcuts_modal'> Shortcuts</a></h5>
      </div>
      <div class='editor_video_container'>
        <div id='media_container'>
          <div id='viewing_screen' >
            <div id='iframe_container'>
              <div id='iframe_overlay'>
              </div>
              <div id='overlay_btn'><span class='player_loading_notice'>Loading...</span></div>

            </div>
            <div id='subtitle_bar' class='center'>
              <pre id='subtitle_display' class='center'></pre>
            </div>
          </div>
          <div id='seek_head'>
            <div class='scrubber'></div>
            <div id='seek_head_corner'></div>
            <div id='seek_head_body'></div>
          </div>
        </div>
      </div>
    </div>
    <div id='editor-bottom' class='row'>
      <div class=''>
        <ul class='nav nav-tabs'>
          <li id='timeline_tab_anchor' class=''><a href='#timeline_tab' data-toggle='tab'>Timer</a></li>
          <li id='subtitle_tab_anchor' class='active'><a href='#subtitle_tab' data-toggle='tab'>Subtitle</a></li>
          <li id='font_tab_anchor' ><a href='#font_tab' data-toggle='tab'>Font</a></li>
          <li id='upload_tab_anchor' class='pull-right'><a href='#upload_tab' data-toggle='tab'>Upload</a></li>
        </ul>
      </div>

      <div class=''>
        <div class='tab-content'>
          <div class='tab-pane' id='timeline_tab'>

            <div id='timeline_container'>
            </div>
          </div>
          <div class='tab-pane active' id='subtitle_tab'>
            <div id='subtitle_container'>
              <div id='subtitle_list'></div>
            </div>
          </div>
          <div class='tab-pane' id='font_tab'>
            <div id='font_container'>
              <div class='font_manager' style='display: none;'>
                <div class='pull-left font_manage_left_column'>
                  <div class='font_family_container'>
                    Font Family: 
                    <%= select_tag("font_family_select", options_for_select(Repository.font_family_select_options,@repo.font_family)) %>
                  </div>
                  <div class='font_size_container'>
                    Font Size: 
                    <%= select_tag("font_size_select", options_for_select(Repository.font_size_select_options,@repo.font_size)) %>
                  </div>
                  <div class='font_weight_container'>
                    Font Weight: 
                    <%= select_tag("font_weight_select", options_for_select(Repository.font_weight_select_options,@repo.font_weight)) %>
                  </div>
                  <div class='font_style_container'>
                    Font Style: 
                    <%= select_tag("font_style_select", options_for_select(Repository.font_style_select_options,@repo.font_style)) %>
                  </div>
                </div>
                <div class='pull-left'>
                  <div class='font_background_container'>
                    Background: 
                    <%= select_tag("font_background_select", options_for_select(Repository.font_background_select_options,@repo.font_background)) %>
                  </div>
                  <div class='font_color_container'>
                    Font Color: 
                    <input id='font_color_input' value="<%= @repo.font_color %>">
                  </div>
                  <div class='font_outline_color_container'>
                    Font Outline Color: 
                    <input id='font_outline_color_input' value="<%= @repo.font_outline_color %>">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='tab-pane' id='upload_tab'>
            <div id='upload_container'>
              <%= form_tag @repo.upload_subtitle_url, multipart: true, id: "upload_subtitle_form" do %>
                <h4>Upload Subtitle</h4>
                <p>Note that this will overwrite any existing work. The only subtitle format we allow is SubRip (file ends in .srt)</p>
                <%= file_field_tag "subtitle_file" %>
                <br>
                <input class="btn upload_subtitle_to_existing_repo_btn" type="submit" value="Submit">
              <% end %>
            </div>
          </div>
        </div>

        <div class='controls' class=''>
          <div id='main_controls' class='pull-left'>
            <button type='button' class='start_timing_btn river_btn pull-left' style='display: none;'> <i class=''></i>Start</button>
            <button type='button' class='stop_timing_btn river_btn  pull-left' style='display: none;'> <i class='glyphicon glyphicon-stop'></i> Stop</button>
            <div class='checkbox ask_input_after_timing_checkbox' style='display: none;'><label><input type='checkbox'>Ask input after timing</label></div>
            <%= select_tag("editor_language_select", options_for_select(Repository.language_select_options, @repo.language), class: "editor_language_select", style: "width: 150px;") %>
            <input class='add_sub_input' class='' placeholder='Enter Subtitle Here'>
          </div>
          <div class='sub_controls pull-right'>
            <button type='button' class='river_btn timeline_btn '>Timer</button>
            <button type='button' class='river_btn subtitle_btn '>Subtitle</button>
            <button type='button' class='river_btn font_btn '>Font</button>
            <button type='button' class='river_btn upload_btn '>Upload</button>
            <a class='publish_btn river_btn pull-right'>Publish</a>
          </div>
        </div>
      </div>
      <div id='status-bar' class='pull-left'>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="keyboard_shortcuts_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-backdrop fade in" style="height: 984px;"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Keyboard Shortcuts</h4>
      </div>
      <div class="modal-body">
        <table class='table table-bordered table-striped'>
          <tr>
            <th>Command</th>
            <th>Mac</th>
            <th>Windows/Linux</th>
          </tr>
          <tr>
            <td>Play/Pause</td>
            <td>cmd + p</td>
            <td>ctrl + p</td>
          </tr>
          <tr>
            <td>Rewind</td>
            <td>left</td>
            <td>left</td>
          </tr>
          <tr>
            <td>Forward</td>
            <td>right</td>
            <td>right</td>
          </tr>
          <tr>
            <td>Mark Start Time</td>
            <td>/</td>
            <td>/</td>
          </tr>
          <tr>
            <td>Mark Start Time (alternative)</td>
            <td>cmd + e</td>
            <td>ctrl + e</td>
          </tr>
          <tr>
            <td>Mark Start Time (alternative)</td>
            <td>cmd + 3</td>
            <td>ctrl + 3</td>
          </tr>
          <tr>
            <td>Mark Stop Time</td>
            <td>/</td>
            <td>/</td>
          </tr>
          <tr>
            <td>Mark Stop Time (alternative)</td>
            <td>cmd + e</td>
            <td>ctrl + e</td>
          </tr>
          <tr>
            <td>Mark Stop Time (alternative)</td>
            <td>cmd + 4</td>
            <td>ctrl + 4</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<% if @modal_message %>
  <div class="modal fade" id="demo_mode_modal" tabindex="-1" role="dialog" aria-labelledby="demoModalLabel" aria-hidden="true">
    <div class="modal-backdrop fade in" style="height: 984px;"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="demoModalLabel"><%= @modal_title %></h4>
        </div>
        <div class="modal-body">
          <span><%= @modal_message %></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
