<div class='header-section col-md-12'></div>
<div class="background"></div>
<div class='container'>
  <div class='row'>
    <div class="">
      <div class="center">
        <h2><%= @video.name %></h2>
        <% if @is_upload %>
          <h3 class="upload_subtitle_header">Upload Subtitle</h3>
        <% else %>
          <%= image_tag @video.thumbnail_url %>
        <% end %>
      </div>
      <br>
      <br>

      <% if @is_upload %>
        <%= form_tag video_repository_upload_url(@video), multipart: true, id: "repo_setup_form" do %>
          <%= render "setup_form_content" %>
        <% end %>
      <% else %>
        <%= form_tag video_repository_create_url(@video), id: "repo_setup_form" do %>
          <%= render "setup_form_content" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

