<% set_meta_tags :site => 'Yasub', :title => @repo.title, :description => "Watch a Youtube Video with user generated captions/subtitles", :keywords => @repo.keywords %>

<div id='river_player' class='show container <%= @repo.is_published? ? "public" : "private"%>' data-repo='<%= @repo.serialize.to_json %>'>
  <div class="row">
    <div class="col-lg-7 col-md-7 player_column">
      <%= render 'videos/player_info' %>
      <%= render 'videos/player' %>
      <% if @repo %>
        <%= render 'videos/player_share' %>
        <%= render 'videos/player_editor' %>
      <% end %>
      <% if @repo %>
        <%= render 'videos/player_comments' %>
      <% end %>
    </div>
    <div class='col-lg-5 col-md-5'>
      <%= render 'videos/player_details' %>
    </div>
  </div>
</div>
