<% set_meta_tags :site => 'Yasub', :title => @repo.title, :description => "Watch a Youtube Video with user generated captions/subtitles", :keywords => @repo.keywords %>

<% content_for :head do  %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="<%= @repo.thumbnail_url_hq %>">
  <meta name="twitter:title" content="<%= @repo.share_text %>">
  <meta name="twitter:description" content="<%= @repo.share_description %>">

  <meta property="og:url" content="<%= @repo.url %>" />
  <meta property="og:title" content="<%= @repo.share_text %>" />
  <meta property="og:description" content="<%= @repo.share_description %>" />
  <meta property="og:site_name" content="Yasub" />
  <meta property="og:image" content="<%= @repo.thumbnail_url_hq %>" />
  <meta property="fb:app_id" content="1465538213665903" />
<% end %>

<div id='river_player' class='show container <%= @repo.is_published? ? "public" : "private"%>' data-repo='<%= @repo.serialize.to_json %>'>
  <div class="row">
    <div class="col-lg-7 col-md-8 player_column">
      <%= render 'videos/player_info' %>
      <%= render 'videos/player' %>
      <% if @repo %>
        <% @sharable = @repo %>
        <div class="original_video_stats pull-left">
          <span class="original_video_view_label">Views:</span>
          <span class="original_video_view_count" style=""><%= number_with_delimiter(@repo.video.view_count, delimiter: ",") %></span>
        </div>
        <% if can?(:edit, @repo) %>
          <a href="<%= @repo.editor_url %>" class="repo_open_editor_btn pull-right btn btn-danger btn-sm">Open Editor<a>
        <% end %>
        <div class='new_translation_container pull-right'>
          <a href="<%= @repo.new_translation_url %>" class='new_translation_btn'>New Subtitle</a>
        </div>

        <%= render 'videos/social_share' %>
      <% end %>
      <br>
      <div class="original_video">
        <span class="original_video_source_label">Source:</span>
        <%= link_to "via Youtube", @repo.video.source_url %>
      </div>
      <div class='embed_container'>
        <span class='pull-left embed_label'>Embed: </span>
        <input class='embed_code_input' type='text' value='<%= @repo.embed_code %>' onclick="select()">
      </div>
      <% if @repo.request %>
        <div class='request_details_container'>
          <span class='pull-left request_details_label'>Request: </span>
          <span class='request_details_value'><%= @repo.request.details %></span>
        </div>
      <% end %>
      <% if @repo %>
        <%= render 'videos/player_comments' %>
      <% end %>
    </div>
    <div class='col-lg-5 col-md-4'>
      <%= render 'videos/player_details' %>
      <%= render 'videos/player_related' %>
    </div>
  </div>
</div>
