<% set_meta_tags :site => 'Yasub', :title => @repo.title, :description => "Watch a Youtube Video with user generated captions/subtitles", :keywords => @repo.keywords %>

<div id='river_player' class='show container <%= @repo.is_published? ? "public" : "private"%>' data-repo='<%= @repo.serialize.to_json %>'>
  <div class="row">
    <div class="col-lg-9 player_column">
      <%= render 'videos/player' %>
      <%= render 'videos/player_repositories' %>
    </div>
    <div class='col-lg-5'>
      <%= render 'videos/player_info' %>
      <%= render 'videos/player_details' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 player_column">
    </div>
  </div>
</div>
