<% set_meta_tags :noindex => true %>

<div class='header-section span12'></div>
<div class='container '>
    <div class='row'>
        <div class='span4 offset4'>
            <%= render "devise/shared/links" %>

            <div class="or_login_separator center">
              or
            </div>

            <div class="signup_container center span3">
              <%= form_for(resource, :as => resource_name, :url => registration_url(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                </br><%= f.text_field :username, :placeholder => "username", class: "span3" %>

                </br><%= f.email_field :email, :placeholder => "email", class: "span3" %>

                </br><%= f.password_field :password, :placeholder => "password", class: "span3" %>

                </br><%= f.submit "Sign up", :class => 'btn btn-inverse pull-right' %>
              <% end %>
            </div>
        </div>
    </div>
</div>

