<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  </br><%= f.text_field :username, :placeholder => "username" %>

  </br><%= f.email_field :email, :placeholder => "email" %>

  </br><%= f.password_field :password, :placeholder => "password" %>

  <div><%= f.submit "Sign up", :class => 'btn btn-info' %></div>
<% end %>

<%= render "devise/shared/links" %>
