<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to Yasub Subtitles</h3>
    <p>Hi <%= @user.username %>,</p>
    <p>
      You have successfully signed up to <a href="<%= @url %>"></a><%= @url %>,
    </p>

    <p>
      If you have any questions or feedback, feel free to contact us at <a href="mailto:<%= @@from %>"><%= @@from %></a>
    </p>
    </br>

    <p>Happy Subtitling,</p>

    <p>Yasub</p>
  </body>
</html>
