<%= form_for(@group, :html => { :multipart => true, data: { "group-id" => @group.short_name } } ) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @group.new_record? %>
    <div class="field">
      <div id='avatar' >
        <%= f.label :photo %>
        <% if @group.avatar.url.present? %>
          <div class="thumbnail">
            <%= image_tag @group.avatar.url  %>
          </div>
        <% end %>
      </div>

      <span id='upload_photo_btn' class="btn btn-primary btn-file">
        <div id='upload_btn_label'>
          Change Photo
        </div>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </span >
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, style: "clear: both;" %>
  </div>
  <div class="field">
    <%= f.label :short_name, "Short Name (i.e. jpweekly)" %>
    <%= f.text_field :short_name, style: "clear: both;" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, cols: 80, style: "clear: both;"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
