<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, style: "clear: both;" %>
  </div>
  <div class="field">
    <%= f.label :short_name, "Short Name (i.e. jpweekly)" %>
    <%= f.text_field :short_name, style: "clear: both;" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, style: "clear: both;"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
