<div class="background"></div>
<div class='group_show_container container'>

  <%= render "header" %>

  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0'>
      <div class='section_header'>
        Let's Subtitle 
      </div>
      <div class='section_body'>
        <p>
          <%= @group.description %>
        </p>
      </div>
    </div>
  </div>

  <div class='header-section col-xs-12'></div>


  <div class='row'>
    <div class="left_column col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
      <ul class="nav nav-tabs" >
        <li class="active"><a href="#user_submissions" data-toggle="tab">User Submissions</a></li>
        <li class=""><a href="#requests" data-toggle="tab">Requests</a></li>
        <li class=""><a href="#comments" data-toggle="tab">Comments</a></li>
        <li class="pull-right"><a href="#members" data-toggle="tab">Members</a></li>
      </ul>

      <div class='tab-content'>
        <div class="tab-pane active" id='user_submissions'>
          <%= render "user_submissions" %>
        </div>
        <div class="tab-pane" id='requests'>
          <%= render "requests" %>
        </div>
        <div class="tab-pane" id='comments'>
          <%= render "comments" %>
        </div>
        <div class="tab-pane" id='members'>
          <%= render "members" %>
        </div>
      </div>

    </div>

  </div>
</div>

<div id="subtitle_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subtitle_modal_label" aria-hidden="true">
  <div class="modal-backdrop fade in" style="height: 984px;"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <form class="sub">
          <%= hidden_field_tag :group_id, @group.short_name %>
          <%= hidden_field_tag :hide_group, true %>
          <div class="subtitle_video_container input-group">
            <div class="input-append">
              <input name="source_url" class="source_url" type="text" placeholder="Paste youtube url">
              <button type="button" class="river_btn sub_btn" data-loading-text="Loading...">Start</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

