<div class='header-section span12'></div>
<div class="background"></div>
<div class='container'>
  <div class='row center'>
    <div class="col-xs-12">
      <span class="title river_gray"><%= @group.name %></span>
      <p>
        <%= @group.description %>
      </p>
      <% if can?(:edit, @group) %>
        <p>
          <span>[<%= link_to 'Edit', edit_group_path(@group) %>]</span>
        </p>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class="left_column col-xs-12 col-md-4">
      <div class='action_container section_block'>
        <div class="section_body">
          <div class=''>
            <a href="<%= videos_new_url(:group_id => @group.id) %>" class="subtitle_video_btn">Subtitle a Video</a>
            <a href="<%= video_request_new_url(:group_id => @group.id) %>" class="request_btn">Request Subtitle</a>
            <a href="<%= video_request_new_url(:group_id => @group.id) %>" class="join_group_btn">Join Group</a>
          </div>

        </div>
      </div>

      <div class='group_requests section_block'>
        <div class="section_header">
          Requests
        </div>
        <div class="section_body">

          <ul class="">
            <% @group.requests.each do |request| %>
              <li>
                <a class='' href="<%= request.video.source_url %>"><%= request.video.title %></a>
              </li>
            <% end %>  
          </ul>
        </div>
      </div>
    </div>

    <div class='groups_videos videos videos_container col-xs-12 col-md-8 section_block'>
      <div class="home_try section_body">

        <% @group.published_repositories.recent.each_slice(4) do |repos| %>
          <ul class="release_items_container col-xs-offset-1">
            <% repos.each do |repo| %>
              <% video = repo.video %>
              <li class='release_item'>
                <div class="video_thumb">
                  <a href="<%= repo.url %>" >
                  <img src="<%= video.thumbnail_url %>" alt="">
                  </a>
                </div>
                <span class="video_duration">
                  <%= repo.formatted_duration %>
                </span>
                <div class="video_title">
                  <a href="<%= repo.url %>" class="video" >
                    <span class='video_name'><%= truncate(repo.release_title, length: 80) %></span>
                  </a>
                  <% unless repo.release_title == video.title %>
                    <br/>
                    <span class='orig_video_name river_gray'><%= video.title %></span>
                  <% end %>
                </div>
                <div class='release_item_transcript'>
                  <%= repo.transcript[0..200] %>
                </div>
                <div class="assignee">
                  <span class='repo_owner'>
                    by: 
                    <a href="<%= repo.owner_profile_url %>" class="owner_name"><%= repo.owner %></a>
                  </span>
                </div>
                <% if can?(:edit, repo) %>
                  <a href="<%= repo.editor_url %>" class="release_item_editor_btn col-md-1 btn btn-danger btn-xs">Editor</a>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>

      </div>
    </div>

  </div>

