<div class='header-section span12'></div>
<div class="background"></div>
<div class='container'>
  <div class='row center'>
    <div class="col-xs-12">
      <span class="title river_gray"><%= @group.name %></span>
      <p>
        <%= @group.description %>
      </p>
      <% if can?(:edit, @group) %>
        <p>
          <span>[<%= link_to 'Edit', edit_group_path(@group) %>]</span>
        </p>
      <% end %>
    </div>
  </div>
  <h3 class="group_releases_header river_gray">Releases</h3>
  <div class='row center group_release_container'>
    <div class="col-xs-8 col-xs-offset-2">
      <ul>
        <% @group.releases.each do |release| %>
          <li class="group_release_list_item">
            <div class="group_release_list_item_header">
              <a class="group_release_number" href="<%= release.url %>">Issue <%= release.release_number %></a>
              - 
              <%= release.date.strftime("%b %-d, %Y") %>
              <div class='pull-right'>
                <% release.repositories.each do |repo| %>
                    <img src="<%= repo.video.thumbnail_url %>" class="" alt="">
                <% end %>
              </div>
            </div>
            <ul>
              <% release.repositories.each do |repo| %>
                <li class="group_release_list_item_repo river_gray">
                  <span class='video_name river_gray'><%= repo.video.title %></span>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
