<% content_for :head do  %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="<%= @group.thumbnail_url_hq %>">
  <meta name="twitter:title" content="<%= @group.share_text %>">
  <meta name="twitter:description" content="<%= @group.share_description %>">

  <meta property="og:url" content="<%= @group.url %>" />
  <meta property="og:title" content="<%= @group.share_text %>" />
  <meta property="og:description" content="<%= @group.share_description %>" />
  <meta property="og:site_name" content="Yasub" />
  <meta property="og:image" content="<%= @group.thumbnail_url_hq %>" />
  <meta property="fb:app_id" content="1465538213665903" />
<% end %>

<div class="background"></div>
<div class='group_show_container container'>

  <%= render "header" %>

  <div class='center'>
    <a href="#" data-toggle="modal" data-target="#subtitle_modal" class="subtitle_video_btn ">+ Subtitle a Video</a>
  </div>

  <div class='header-section col-xs-12'></div>
  
  <div class='row'>
    <div class="left_column col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
      <ul class="nav nav-tabs" >
        <li class="active">
          <a href="#user_submissions" data-toggle="tab">User Submissions 
            <span class='group_user_submission_count'>(<%= @group.repositories.published.count %>)</span>
          </a>
        </li>
        <li class="">
          <a href="#requests" data-toggle="tab">Requests 
            <span class='group_request_count'>(<%= @group.requests.count %>)</span>
          </a>
        </li>
        <li class="">
          <a href="#comments" data-toggle="tab">Comments 
            <span class='group_comment_count'>(<%= @group.comments.count %>)</span>
          </a>
        </li>
        <li class="pull-right"><a href="#members" data-toggle="tab">Members</a></li>
      </ul>

      <div class='tab-content'>
        <div class="tab-pane active" id='user_submissions'>
          <%= render "user_submissions" %>
        </div>
        <div class="tab-pane" id='requests'>
          <%= render "requests" %>
        </div>
        <div class="tab-pane" id='comments'>
          <%= render "comments" %>
        </div>
        <div class="tab-pane" id='members'>
          <%= render "members" %>
        </div>
      </div>

    </div>

  </div>
</div>

<%= render partial: "shared/subtitle_modal", locals: { chosen_group: @group, hide_group: true } %>


