<div class='header-section col-xs-12'></div>

<div id='user_repositories' class='col-xs-8  col-xs-offset-2'>
  <div class='row'>
    <div class="videos">
      <% if user_signed_in? && current_user == @user  %>
        <div class='col-xs-6 col-md-3'>
          <div class='thumbnail'>
            <a href="<%= videos_new_url %>" class="new_project_user_btn user_big_action_btn" >
              <i class='glyphicon glyphicon-plus'></i>
              <h6>New Project</h6>
            </a>
          </div>
        </div>
      <% end %>
      <% @repositories.limit(12).each do |repo| %>
        <div class='col-xs-6 col-md-3'>
          <div class='thumbnail'>
            <a href="<%= user_signed_in? && current_user == @user ? repo.editor_url : repo.url %>" id="<%= repo.id %>" class="video" >
              <img src="<%= repo.thumbnail_url %>" alt="" >
            </a>
            <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
              <h6 class='video_name'><%= truncate(repo.player_title, length: 80) %></h6>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if @repositories.count > 12 %>
    <h3 class='center'><a href="<%= user_repositories_url %>" class="user_repositories_see_more_link">See More...</a></h3>
  <% end %>
</div>
