<div id='user_profile' class='col-xs-12 col-md-5 col-md-offset-3'>
  <div id='avatar' >
    <% if user_signed_in? && current_user == @user %>
      <div class="thumbnail" data-toggle="tooltip" title="change avatar" data-placement="left">
        <a href="<%= edit_user_registration_url %>">
          <%= image_tag @user.avatar.url  %>
        </a>
      </div>
    <% else %>
      <div class="thumbnail">
        <%= image_tag @user.avatar.url  %>
      </div>
    <% end %>
  </div>
  <div id='user_name'><h3><%= @user.username  %></h3></div>
  <% if @user.bio.present? %>
    <div id='user_details'>
      <div id='user_bio'><%= @user.bio  %></div>
      <!-- <div id='user_email'><a href="mailto:<%= @user.email  %>"><%= @user.email  %></a></div> -->
    </div>
  <% end %>
  <% if @user.repositories.count < 0 %>
    <div id='stats'>
      <div id='num_of_subtitles'>
        <span>videos subtitled count: </span>
        <h4><%= @user.repositories.count  %></h4>
      </div>
    </div>
  <% end %>
</div>
