<div id='user_profile' class='col-xs-12 col-md-3 col-md-offset-4'>
  <div id='avatar' >
    <% if @user.avatar.url.present? %>
      <div class="thumbnail">
        <%= image_tag @user.avatar.url  %>
      </div>
    <% end %>
  </div>
  <div id='user_name'><h3><%= @user.username  %></h3></div>
  <div id='user_details'>
    <% if @user.bio.present? %>
      <div id='user_bio'><%= @user.bio  %></div></br>
      <!-- <div id='user_email'><a href="mailto:<%= @user.email  %>"><%= @user.email  %></a></div> -->
    <% end %>
  </div>
  <div id='stats'>
    <% if @user.repositories.count < 0 %>
      <div id='num_of_subtitles'>
        <span>videos subtitled count: </span>
        <h4><%= @user.repositories.count  %></h4>
      </div>
    <% end %>
  </div>
</div>
