<div class='header-section col-xs-12'></div>

<% if @user.video_bookmarks.present? %>
  <div id='user_repository_bookmarks' class='col-xs-8  col-xs-offset-2'>
    <div class='row'>
      <div class='videos'>
        <% @user.video_bookmarks.each do |repo| %>
          <div class='col-xs-6 col-md-3'>
            <div class='thumbnail'>
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <img src="<%= repo.thumbnail_url %>" alt="" >
              </a>
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <h6 class='video_name'><%= repo.video.name %></h6>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class='col-xs-5  col-xs-offset-3'>
    <span>There's currently nothing here.<span>
    <% if user_signed_in? %> 
      <span>
        Browse our <a href='/archives'>collection of subtitled videos</a> and favorite a video to add an item to this list.
      </span>
    <% end %>
    </span>
  </div>
<% end %>

