<% if @user.video_bookmarks.present? %>
  <div id='user_repository_bookmarks' class='col-xs-8  col-xs-offset-2'>
    <div class='row'>
      <h3 class='pull-left'>Video Bookmarks</h3>
    </div>
    <div class='row'>
      <div class='videos'>
        <% @user.video_bookmarks.each do |repo| %>
          <div class='col-xs-6 col-md-3'>
            <div class='thumbnail'>
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <img src="<%= repo.thumbnail_url %>" alt="" >
              </a>
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <h6 class='video_name'><%= repo.video.name %></h6>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

