<% set_meta_tags :noindex => true %>

<div class='header-section col-xs-12'></div>
<div class='container user_show_container'>
    <% if @user_public_uploads %>
      <%= @access_token %>
      <ul class='uploaded_items'>
        <% @user_public_uploads.each do |playlist_item| %>
          <li class='row'>
            <div class='col-md-3'><%= image_tag playlist_item["snippet"]["thumbnails"]["default"]["url"] %></div>
            <div class='col-md-3'><%= playlist_item["snippet"]["title"] %></div>
          </li>
        <% end %>
      </ul>
    <% end %>

  <div class='row'>
    <%= render "user_profile" %>

    <% if @youtube_owner %>
    <% end %>
  </div>
  <div class='row'>
    <ul class="nav nav-tabs col-xs-8  col-xs-offset-3" >
      <li class="<%= @user.translations_tab_class %>"><a href="#translations" data-toggle="tab">Translations</a></li>
      <li class="<%= @user.video_bookmarks_tab_class %>"><a href="#video_bookmarks" data-toggle="tab">Video Bookmarks</a></li>
      <li><a href="#line_favorites" data-toggle="tab">Line Favorites</a></li>
      <li><a href="#user_groups" data-toggle="tab">Groups</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane <%= @user.translations_tab_class %>" id="translations"><%= render "user_repositories" %></div>
      <div class="tab-pane <%= @user.video_bookmarks_tab_class %>" id="video_bookmarks"><%= render "video_bookmarks" %></div>
      <div class="tab-pane" id="line_favorites"><%= render "line_favorites" %></div>
      <div class="tab-pane" id="user_groups"><%= render "user_groups" %></div>
    </div>
  </div>
</div>
