<% set_meta_tags :noindex => true %>

<div class='header-section col-xs-12'></div>
<div class='container user_show_container'>
    <% if @user_public_uploads %>
      <%= @access_token %>
      <ul class='uploaded_items'>
        <% @user_public_uploads.each do |playlist_item| %>
          <li class='row'>
            <div class='col-md-3'><%= image_tag playlist_item["snippet"]["thumbnails"]["default"]["url"] %></div>
            <div class='col-md-3'><%= playlist_item["snippet"]["title"] %></div>
          </li>
        <% end %>
      </ul>
    <% end %>

  <% if @user.is_producer? %>
    <%= render "producer_page" %>
  <% else %>
    <%= render "translator_or_viewer_page" %>
  <% end %>
</div>
