<div id="video_information" class="">
  <div class="">
    <% if @repo %>
      <h3 id='repo_label' class='pull-left'>
        <div>
          <% if @repo.group %>
            <a class="group_name" href="<%= @repo.group_url %>"><%= @repo.group_name %></a> /
          <% end %>
          <a href="<%= @repo.url %>"><%= @repo.player_title %></a>
        </div>
      </h3>

      <h3 id='repo_time_label' class='pull-right'>
        <!-- <span class='updated_at'><%= time_ago_in_words(@repo.updated_at) %> ago</span> -->
        <% if @repo.user %>
          <span class='repo_owner'>
            <a href="<%= @repo.owner_profile_url %>" style="color:slategray"><%= @repo.owner %></a>
            <a class="user_avatar" href="<%= @repo.owner_profile_url %>"><%= image_tag @repo.user_avatar_thumb_url %></a>
          </span>
        <% end %>
      </h3>
    <% else %>
      <h3 id='repo_label'>
        <div>
          <a href="<%= @video.url %>"><%= @video.name %></a>
        </div>
      </h3>
    <% end %>

  </div>
</div>
