<div id="video_information" class="">
  <div class="">
    <% if @repo %>
      <h3 id='repo_label' class='pull-left'>
        <div>
          <% if @repo.page %>
            <a class="page_name" href="<%= @repo.page_url %>"><%= @repo.page_name %></a>
            <span class='repo_label_divider'>/</span>
          <% end %>
          <% if @repo.group %>
            <a class="group_name" href="<%= @repo.group_url %>"><%= @repo.group_name %></a>
            <span class='repo_label_divider'>/</span>
          <% end %>
          <a href="<%= @repo.url %>" class='repo_title'><%= @repo.player_title %></a>
        </div>
      </h3>

      <h3 id='repo_time_label' class='pull-right'>
        <!-- <span class='updated_at'><%= time_ago_in_words(@repo.updated_at) %> ago</span> -->
      </h3>
    <% else %>
      <h3 id='repo_label'>
        <div>
          <a href="<%= @video.url %>"><%= @video.name %></a>
        </div>
      </h3>
    <% end %>

  </div>
</div>
