<div class="primary_action_items">
  <div class="contribute action_item pull-left">
    <% if @repo.display_edit?(current_user) %>
      <a class='subtitle_editor_btn river_btn' href="<%= @repo.editor_url %>">Edit</a>
    <% end %>
  </div>
  <% if @repo.is_published? %>
    <form method="post" action="<%= @repo.fork_url %>" class="button_to fork_repo_form action_item pull-left">
      <div>
        <button type="submit" class="fork_repo_btn river_btn">
          <i class='glyphicon glyphicon-plus'></i> Subtitle 
        </button>
      </div>
    </form>

    <div class='share_repo action_item pull-left'>
      <a class='river_btn share_repo_btn' href='#'><i class='glyphicon glyphicon-chevron-down'></i> Share</a>
    </div>
  <% else %>
    <%= form_tag @repo.publish_url, method: "post", class: "publish_btn_form" do %>
      <%= submit_tag 'Publish', class: "river_btn", id: "publish_btn" %>
    <% end %>
  <% end %>
   <ul class='nav nav-tabs'> 
    <!-- <li id='info_tab_anchor' class="pull-right"><a href='#info_tab' data-toggle='tab'>Share</a></li> -->
     <li id='transcript_tab_anchor' class="<%= @repo.transcript_tab_class %> pull-right"><a href='#transcript_tab' data-toggle='tab'>Transcript</a></li> 
    <!-- <li id='forks_tab_anchor' class="active pull-right"><a href='#forks_tab' data-toggle='tab'>Related</a></li> -->
     <li id='comments_tab_anchor' class="<%= @repo.comments_tab_class %> pull-right"><a href='#comments_tab' data-toggle='tab'>Comments</a></li> 
   </ul> 
</div>

<div class='share_container' style='display: none;'>
  <div class="link_container">
    <span class="">Link</span>
    <input class="share_link_input" value="<%= @repo.url %>" type="text" onclick="this.select()">
    <span class="social_share_container">
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= @repo.url %>" target="_blank">
         <%= image_tag "fb-32.png" %>
      </a>
      <a href="https://twitter.com/share?url=<%= @repo.url %>" target="_blank">
         <%= image_tag "twitter-32.png"  %>
      </a>
      <a href="https://plus.google.com/share?url=<%= @repo.url %>" target="_blank">
         <%= image_tag "gplus-32.png"  %>
      </a>
    </span>
  </div>
</div>
