<div id='forks_container' class=''>
  <a href="<%= @video.translate_repository_url %>" class="fork_repo_btn river_btn">
    <i class='glyphicon glyphicon-plus'></i> Add Language
  </a>
  <a href="<%= @video.new_repository_via_upload_url %>" class="upload_repo_btn river_btn">
    <i class='glyphicon glyphicon-eject'></i> Upload Existing Subtitle File
  </a>
  <div class='forks_list_body' style=''>
    <ul class="subtitle_selections">
      <% if @video.empty_repository?(current_user) %>
        There are currently no subtitles available for this video. Start adding one now by clicking the "Add Language" button above.
      <% end %>
      <% @video.repositories.each do |repo| %>
        <% if can? :read, repo %>
          <li class="forks_list_item <%= @repo == repo ? "selected" : "" %>" data-url="<%= repo.url %>">
            <span class='language_label pull-left' ><%= repo.language_label %></span>

            <div class='repo_edit_column pull-left'>
              <% if @repo && @repo == repo && can?(:edit, repo) %>
                <a class='subtitle_editor_btn btn btn-xs' href="<%= repo.editor_url %>">Edit</a>
              <% end %>
            </div>

            <div class='repo_publish_column pull-left'>
              <% if @repo && @repo == repo && !repo.is_published? %>
                <%= form_tag repo.publish_url, method: "post", class: "publish_btn_form " do %>
                  <%= submit_tag 'Publish', class: "btn btn-success btn-xs", id: "publish_btn" %>
                <% end %>
              <% end %>
            </div>

            <div class='repo_owner_column pull-right'>
              <% if repo.user %>
                <a class="subtitle_selection_owner_name" href="<%= repo.owner_profile_url %>"><%= repo.owner %></a>
                <a class="subtitle_selection_owner_avatar" href="<%= repo.owner_profile_url %>" >
                  <%= image_tag repo.user_avatar_thumb_url %>
                </a>
              <% end %>
            </div>

          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
