<% if @related_repos.present? %>
  <div class='related_videos_container'>
    <div class="section_block">
<!--       <div class="section_header">
        Related <%= @repo.group ? @repo.group.name : "" %> Subtitles
      </div>
 -->      <div class="section_body">
        <% @related_repos.each do |repo| %>
          <div class="related_repo_item">
            <div class="video_thumb">
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <img src="<%= repo.thumbnail_url %>" alt="" class='related_repo_thumbnail_image'>
              </a>
            </div>
            <div class="video_title">
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <h4 class='video_name'><%= repo.title %></h4>
              </a>
            </div>
            <!-- <span class='updated_at'><%= time_ago_in_words(repo.updated_at) %> ago</span> -->
            <span class='repo_owner'>
              by 
              <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
