<div class='share_container' >
  <span class='pull-left share_label'>Share: </span>
  <div class="social_share_container">
    <a href="https://plus.google.com/share?url=<%= @sharable.url %>" target="_blank">
      Google+
      <span class="google_plus_count"></span>
      <!-- <%= image_tag "gplus-32.png", style: "height: 20px;" %> -->
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= @sharable.url %>" target="_blank">
      Facebook
      <span class="facebook_count"></span>
      <!-- <%= image_tag "fb-32.png", style: "height: 20px;" %> -->
    </a>
    <a href="https://twitter.com/share?count=vertical&url=<%= @sharable.url %>&text=<%= CGI.escape(@sharable.share_text) %>" target="_blank">
      Twitter
      <span class="tweet_count"></span>
      <!-- <%= image_tag "twitter-32.png", style: "height: 20px;" %> -->
    </a>
  </div>
</div>
