<div id='editor' data-repo='<%= @repo.serialize.to_json %>'> 
  <div id='editor-top' class='row'> 
    <div class='span12'> 
      <h5 id='repo_label'>
        <span id='repo_owner'><a href="<%= user_path(@repo.user) %>"><%= @repo.owner %></a></span> / <%= @repo.video.name %>
      </h5>
      <h6 id='video_url'><%= @repo.video.url %></h6> 
    </div> 
    <div id='editor-top-left' class='span6'> 
      <div id='media_container'> 
        <div id='media'><div id='iframe_overlay'></div></div> 
        <div id='subtitle_bar' class='span6 center'> 
          <div id='subtitle_display' class='span5 center'></div> 
          <input id='subtitle_edit' class='span5 center' type='text' maxlength='60' placeholder='Enter Subtitle Here'> 
        </div> 
        <div id='controls' class='row'> 
          <div class='pull-left span1'> 
            <button type='button' id='play_btn' class='btn'><i class='icon-play'></i></button> 
            <button type='button' id='pause_btn' class='btn'><i class='icon-pause'></i></button> 
          </div> 
          <div class='btn-group pull-right'> 
            <a id='start_timing_btn' class='btn'><i class='icon-circle'></i> Start Timing</a> 
            <a id='stop_timing_btn' class='btn'><i class='icon-circle'></i> Stop</a> 
          </div> 
        </div> 
      </div> 
    </div> 
    <div id='editor-top-right' class='span6'> 
      <div id='subtitle_container'> 
        <div id='subtitle_list'></div> 
        <div id='controls_extra' class='row'> 
          <div class='btn-group pull-right'> 
            <a id='save_btn' class='btn btn-info'><i class='icon-save'></i> Save</a> 
            <a id='download_btn' class='btn' href='<%= @repo.subtitle_download_url %>'><i class='icon-download-alt'></i> Download</a> 
            <a id='help_btn' data-toggle='modal' data-target='#myModal' class='btn'><i class='icon-question-sign'></i></a> 
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
  <div id='editor-bottom' class='row'> 
    <div class='span12'> 
      <div id='timeline_container'></div> 
    </div> 
  </div> 
</div>
