<div class='header-section col-xs-12'></div>
<div class="background"></div>
<div class='container'>

  <div class='row center'>
    <div class="col-xs-12">
      <span class="title river_gray">Recently Added</span>
    </div>
  </div>

<div class='header-section col-xs-12'></div>
  
<div class="video_index">
  <div class="left_nav">
    <div id="recent_contributors" class="section_block">
      <h5 class="section_header"> Recent Contributors </h5>
      <ul>
        <% User.recent_contributors.reverse.each do |user| %>
          <li>
            <a class="user_avatar" href="<%= user.try(:url) %>"><%= image_tag user.avatar.thumb.url %></a>
            <a class="" href="<%= user.try(:url) %>"><%= user.username %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="videos col-xs-10">
      <% @repos.each do |repo| %>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="video_thumb">
                <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                  <img src="<%= repo.thumbnail_url %>" alt="">
                </a>
              </div>
              <div class="video_title">
                <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                  <h4 class='video_name'><%= repo.video.name %></h4>
                </a>
              </div>
              <div class="transcript_preview">
                <%= repo.transcript[0..200] %>
              </div>
              <span class='updated_at'><%= time_ago_in_words(repo.updated_at) %> ago</span>
              <span class='repo_owner'>
                by 
                <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
              </span>
              <div class='stats'>
              </div>
            </div>
          </div>
      <% end %>
  </div>

  <div class="col-xs-12">
    <%= paginate @repos,  :theme => 'bootstrap' %>
  </div>

  <div class='header-section col-xs-12'></div>

  </div>
</div>

