<div class='header-section span12'></div>
<div class="background"></div>
<div class='container'>
  <div class='row'>
    <div class="span8 offset2">
      <div class="center">
        <h2><%= @repo.video.name %></h2>
        <%= image_tag @repo.thumbnail_url %>
      </div>
      </br>
      </br>

      <%= form_tag editor_video_finish_setup_url(@repo), id: "repo_setup_form" do %>
        <div id="repo_setup_form_list">
          <ol >
            <li>
              <h4>Choose subtitle language</h4>
              <%= select_tag("language_code", options_for_select(Language::CODES.map{|k,v| [v,k]})) %>
            </li>
            <% if @repo_fork %>
              <li>
                <h4>Use Timing from <%= link_to @repo_fork.full_display, @repo_fork.url %></h4>
                <label class="radio">
                  <input type="radio" name="copy_timing_from" value="<%= @repo_fork.token %>" checked>
                  Yes
                </label>
                <label class="radio">
                  <input type="radio" name="copy_timing_from" value="">
                  No
                </label>
              </li>
            <% end %>

            <% if current_user && current_user.groups.present? %>
              <li>
                <h4>Choose group to release under</h4>
                <%= select_tag("group_id", options_for_select(Group.selection_options_for(current_user))) %>
              </li>
            <% end %>
          </ol>
        </div>
        <div class="center">
          <input id="continue_btn" class="river_btn " type="submit" value="Continue">
        </div>
      <% end %>
    </div>
  </div>
</div>

