<div id='player' data-repo='<%= @repo.serialize.to_json %>'>
  <div id='player-top' class='row'> 
    <div class='span12'> 
      <h5 id='repo_label'>
        <span id='repo_owner'><a href="<%= user_path(@repo.user) %>"><%= @repo.owner %></a></span> / <%= @repo.video.name %>
      </h5>
      <h6 id='video_url'><%= @repo.video.url %></h6> 
    </div> 
    <div id='player-top-left' class='span6'> 
      <div id='media_container'> 
        <div id='media'></div> 
        <div id='subtitle_bar' class='span6 center'> 
          <div id='subtitle_display' class='span5 center'></div> 
        </div> 
        <div id='controls' class='row'> 
          <div class='pull-left span1'> 
            <button type='button' id='play_btn' class='btn'><i class='icon-play'></i></button> 
            <button type='button' id='pause_btn' class='btn'><i class='icon-pause'></i></button> 
          </div> 
        </div> 
      </div> 
    </div> 
    <div id='player-top-right' class='span6'> 
      <div id='subtitle_container'> 
        <div id='subtitle_list'></div> 
        <div id='controls_extra' class='row'> 
          <div class='btn-group pull-right'> 
            <a id='download_btn' class='btn' href='<%= @repo.subtitle_download_url %>'><i class='icon-download-alt'></i> Download</a> 
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
</div>    