<% set_meta_tags :site => 'Riversub', :title => "#{@repo.video.name}", :description => "Watch a Youtube Video with user generated captions/subtitles" %>

<div>
  <div id="player-background"></div>

  <div id='river_player' data-repo='<%= @repo.serialize.to_json %>'>
    <div id='player-top' class='row'> 
      <div class="left_side">
        <h5 id='repo_label'>
          <div>
            <a href="<%= @repo.url %>"><%= @repo.video.name %></a>
          </div>
        </h5>
        <div id='subtitle_container'> 
          <div id='subtitle_list'></div> 
          <div id='controls_extra' class='row'> 
            <div class='btn-group pull-right'> 
              <!-- <a id='download_btn' class='btn' href='<%= @repo.subtitle_download_url %>'><i class='icon-download-alt'></i> Download</a>  -->
            </div> 
          </div> 
        </div> 
      </div>

      <div id='player-top-left'> 
        <div id="white-bar"></div>
        <div id='media_container'> 
          <div id='media'></div> 
          <div id='subtitle_bar' class='span8 center'> 
            <span id='subtitle_display' class='span5 center'></span> 
          </div> 
        </div> 

        <div class='row' > 
          <div id="media_controls">
            <h5>
              <span class="pull-left">
                <% if @repo.user %>
                  <div class="subtitler pull-left">
                    Subtitler: <a class="subtitler_name" href="<%= @repo.owner_profile_url %>"><%= @repo.owner %></a> 
                  </div>
                <% end %>
              </span>
              <% if @repo.user == current_user %>
                <a class='btn btn-success ubtitle_editor_btn pull-right' href="<%= @repo.editor_url %>"><i class="icon-random"></i> Edit</a>
              <% elsif current_user && @user_version = @repo.version_for(current_user) %>
                <a class='btn btn-success view_version_btn pull-right' href="<%= @user_version.url %>"><i class="icon-random"></i> View Your Version</a>
              <% else %>
                <a class='btn btn-success new_repo_btn pull-right' href="#"><i class="icon-random"></i> Create Sub</a>
              <% end %>
              <a class='btn share_btn pull-right' href="#" data-toggle='modal' data-target='#share_modal'>Share</a>
            </h5>
          </div>
        </div> 
      </div> 
    </div> 


  </div>    
</div>    
