<div class='header-section span12'></div>
<div class="background"></div>
<div class='container'>

  <div class='row center'>
    <div class="span12">
      <span class="title river_gray">Recently Added</span>
    </div>
  </div>

<div class='header-section span12'></div>
  
  <div class="videos span12">
    <ul class="thumbnails user">
      <% @repos.each do |repo| %>
          <li class="span2">
            <div class="thumbnail center">
              <span class='updated_at'><%= time_ago_in_words(repo.updated_at) %> ago</span>
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <img src="<%= repo.thumbnail_url %>" alt="">
              </a>
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <h6 class='video_name'><%= repo.video.name %></h6>
              </a>
              <span class='repo_owner'>
                by <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
              </span>
              <div class='stats'>
              </div>

            </div>
          </li>
      <% end %>
    </ul>
  </div>

  <div class='header-section span12'></div>

  </div>

