<div class='center'>
  <h3 class='col-md-10 col-md-offset-1 center home_section_header '>Features</h3>
</div>

<div class='header-section col-xs-12'></div>

<div class='row '>
<div class='features_container section_block col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-1'>
  <div class="section_body">
    <div class='feature_item'>
      <div class='feature_item_main_header'>
        1. Translation Channel
      </div>
      <img class="col-md-5 col-xs-12" src="<%= asset_path("translator_profiles.png") %>">
      <div class='col-md-5 col-xs-12 feature_description_container'>
        <h3 class='feature_item_header'>Viewership</h3>
        <span class='feature_description'>Manage your very own translation channel where you can see your followers, shares, views, and comments. Your channel also lists your past work, allowing viewers to easily see what you've done before.  
        <h3 class='feature_item_header'>Increase Traffic to Uploader</h3>
        <span class='feature_description'>Because we use softsubs, in which subtitles are simply overlayed to the original video, all the traffic that goes to your subtitles also goes to the original youtube video.</span>
        </span>
      </div>
    </div>
    <div class='feature_item'>
      <div class='feature_item_main_header'>
        2. Player
      </div>
      <img class="col-md-5 col-xs-12" src="<%= asset_path("video_comments.png") %>">
      <div class='col-md-5 col-xs-12 feature_description_container'>
        <h3 class='feature_item_header'>Share & Embed</h3>
        <span class='feature_description'>Created subtitles can be shared and embedded in external sites. </span>
        <h3 class='feature_item_header'>Comments</h3>
        <span class='feature_description'>Users can also add comments to the subtitle video, thus providing feedback to translators who help subtitle them</span>
      </div>
      
    </div>
    <div class='feature_item'>
      <div class='feature_item_main_header'>
        3. Groups
      </div>
      <img class="col-md-5 col-xs-12" src="<%= asset_path("group_page.png") %>">
      <div class='col-md-5 col-xs-12 feature_description_container'>
        <h3 class='feature_item_header'>Collaborate</h3>
        <span class='feature_description'>For bigger projects with lots of videos, translators can collaborate with each other and form a group where people can easily access subtitles that have been created.</span>
        <h3 class='feature_item_header'>Request Subtitles</h3>
        <span class='feature_description'>Viewers can request subtitles that's related to the group</span>
        <h3 class='feature_item_header'>Publish and Subscribe</h3>
        <span class='feature_description'>Anyone who subscribes to the group will get notified whenever a subtitle has been released for the group. </span>
      </div>
    </div>
    <div class='feature_item'>
      <div class='feature_item_main_header'>
        4. Import Subtitles 
      </div>
      <img class="col-md-5 col-xs-12" src="<%= asset_path("official_page.png") %>">
      <div class='col-md-5 col-xs-12 feature_description_container'>
        <h3 class='feature_item_header'>Add Subtitles back to Youtube</h3>
        <span class='feature_description'>The original video owner can easily import user submitted translations with one-click.</span>
        <h3 class='feature_item_header'>Grant Permission</h3>
        <span class='feature_description'>Youtube Producers can also create an official fan translation page and grant users permission to subtitle their videos. </span>
        <h3 class='feature_item_header'>International Fans</h3>
        <span class='feature_description'>Viewers who subtitle your videos and share it with their followers would help reach out to international fans and increase your youtube traffic at the same time.</span>
      </div>
    </div>
    <div class='feature_item'>
      <div class='feature_item_main_header'>
        5. Subtitle Editor
      </div>
      <img class="col-md-5 col-xs-12" src="<%= asset_path("editor_view.png") %>">
      <div class='col-md-5 col-xs-12 feature_description_container'>
        <h3 class='feature_item_header'>Multiple Views</h3>
        <span class='feature_description'>One can toggle between 'Timeline' and 'Subtitle' view. Timeline offers a more graphical interface for adjusting start and end times of a subtitle, while the 'Subtitle' view gives a more familiar list view that provides easier navigation of the entire subtitle.</span>
        <h3 class='feature_item_header'>Upload Existing Subtitles</h3>
        <span class='feature_description'>Sometimes, translators prefer to use other editors such as Aegisub. In those cases, they can create the subtitles using their own tools and later upload them to the online editor.</span>
      </div>
    </div>
  </div>
</div>
</div>

<div class='header-section col-xs-12'></div>
