<div class='container faq'>
  <div class="section_block col-md-10 col-md-offset-1">
<!--     <div class="section_header">
      FAQ
    </div>
 -->    
    <div class="section_body">
      <p>Use our FREE online subtitle editor to add subs to an exiting youtube video. Then, email us your work at <a href="mailto:info@yasub.com">info@yasub.com</a>, and if we like your work, we'll add you to our translation group or we could simply add your translation to one of our weekly releases while crediting you.</p>
    </div>
  </div>
</div>
<div class='center'>
  <a href="<%= videos_new_url %>" class="btn btn-lg btn-danger add_your_sub_btn">Start Subtitling</a>
</div>

<div class='row add_your_subtitle_container'>
  <div class='add_your_subtitle_explanation'>
    <a href="<%= asset_path("editor_view.png") %>"><img class="col-xs-12" src="<%= asset_path("editor_view.png") %>" alt="" ></a>
    <div class='add_your_subtitle_explanation_caption'>Subtitle Editor</div>
  </div>

  <div class='add_your_subtitle_explanation'>
    <a href="<%= asset_path("translator_profiles.png") %>"><img class="col-xs-12" src="<%= asset_path("translator_profiles.png") %>" alt="" ></a>
    <div class='add_your_subtitle_explanation_caption'>Translator Profiles</div>
  </div>

  <div class='add_your_subtitle_explanation'>
    <a href="<%= asset_path("video_comments.png") %>"><img class="col-xs-12" src="<%= asset_path("video_comments.png") %>" alt="" ></a>
    <div class='add_your_subtitle_explanation_caption'>Video Comments</div>
  </div>
</div>

