<% set_meta_tags :site => 'Yasub', :title => 'Subtitle the Web. One video at a time.', :description => "Yasub is a community of people who subtitle internet videos into their own languages." %>

<h2 class='col-md-10 col-md-offset-1 center'>Japan - Trending Videos Subtitled Weekly</h2>
<p class='col-md-10 center'>毎週日本で流行ってる英語字幕付きビデオを送る</p>

<!-- <div class='share_home'>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Trending Videos in Japan - Subtitled Weekly" data-via="yasub_tv" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
 -->
<div class='container intro'>
  <div class="section_block col-md-10 col-md-offset-1">
    <div class="section_header">
      How it Works
    </div>
    <div class="section_body">
      <ol class='col-md-10 col-md-offset-2 col-xs-11 col-xs-offset-1'>
        <li>Subscribe to our newsletter</li>
        <li>We choose 5 trending videos in Japan and subtitle them in English</li>
        <li>We deliver the results to your email once a week</li>
      </ol>
      <%= render 'home/subscribe' %>
    </div>
  </div>
</div>

<div class='row'>
  <div class='latest_release_container col-xs-12'>
    <h4 class="latest_release_header center">Latest Issue - <%= @group.latest_release.date.strftime("%b %-d, %Y") %></h4>
    <% @release = @group.latest_release %>
    <%= render "releases/release_items" %>
  </div>
</div>

<div class='row'>
  <div class='most_comments_container col-xs-12 col-md-7 col-md-offset-1'>
    <div class="section_block">
      <div class="section_header">
        Most Commented Videos
      </div>
      <div class="section_body">
        <% Repository.most_commented.each do |repo| %>
          <div class="most_commented_repo_item">
            <div class="video_thumb">
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <img src="<%= repo.thumbnail_url %>" alt="">
              </a>
            </div>
            <div class="video_title">
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <h4 class='video_name'><%= repo.title %></h4>
              </a>
            </div>
            <div class="transcript_preview">
              <%= repo.transcript[0..100] %>
            </div>
            <!-- <span class='updated_at'><%= time_ago_in_words(repo.updated_at) %> ago</span> -->
            <span class='repo_owner'>
              by 
              <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='latest_activity_container col-xs-12 col-md-3'>
    <div class="section_block">
      <div class="section_header">
        Recent Activity
      </div>
      <div class="section_body">
        <%= render_activities(@activities) %>
      </div>
    </div>
  </div>
</div>



<h2 class='col-md-10 col-md-offset-1 center'>Help Us Subtitle</h2>

<%= render "questions" %>

<!-- <h3 class="latest_release_header col-xs-10 center">Past Issues</h3>

<% @group.past_releases.each do |release| %>
  <div class='past_release_container row'>
    <div class="group_release_list_item_header col-xs-9 col-xs-offset-2">
                    <a class="" href="<%= release.url %>">Issue # <%= release.release_number %></a>
                - 
                <%= release.date.strftime("%b %-d, %Y") %>
    </div>
    <% @release = release %>
    <%= render "releases/release_items" %>
  </div>
<% end %>
 -->





<!-- <div class='container home_country_index'>
  <div class="section_block col-md-10 col-md-offset-1">
    <div class="section_header">
      Countries
    </div>
    <div class="section_body">
      <% Language.language_code_to_country_code_map.values.each_slice(5).to_a.each do |country_codes| %>
        <div class='section_column'>
          <ul>
            <% country_codes.each do |country_code| %>
              <li>
                <a href="<%= repositories_url(country_code: country_code) %>">
                  <%= Language.country_code_to_country_name[country_code] %>
                </a>
                <span class='country_video_count'>
                  <% repo_count = @repository_counts_by_country[country_code].to_i %>
                  <%= repo_count > 0 ? "(#{repo_count})" : "" %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
 -->

<div class='container home_video_index'>
  <div class="col-md-10 col-md-offset-1">
<!--     <div class="section_header">
      Releases
    </div>
 -->    <div class="section_body">
      <div class=''>
        <span class=''></span>
      </div>
      <div class='row videos '>
        <% [].each do |repo| %>
          <div class='col-xs-6 col-md-2'>
            <div class="thumbnail center">
              <span class='repo_owner'>
                by <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
              </span>
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <img src="<%= repo.thumbnail_url %>" alt="">
              </a>
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <h6 class='video_name'><%= repo.video.name %></h6>
              </a>
              <div class='stats'>
              </div>
              <!-- <span class='updated_at'><%= time_ago_in_words(repo.updated_at) %> ago</span> -->
            </div>
          </div>
        <% end %>

        <!-- <a href="#" class="see_more_btn btn btn-primary">See More..</a> -->
      </div>
    </div>
  </div>
</div>

