<% set_meta_tags :site => 'Yasub', :title => 'Subtitle the Web. One video at a time.', :description => "Yasub is a community of people who subtitle internet videos into their own languages." %>

<h2 class='col-md-10 col-md-offset-1 center'>Japan - Trending Videos Subtitled Weekly</h2>
<p class='col-md-10 center'>毎週日本で流行ってる英語字幕付きビデオを送る</p>

<div class='share_home'>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Trending Videos in Japan - Subtitled Weekly" data-via="yasub_tv">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>


<div class='container intro'>
  <div class="section_block col-md-10 col-md-offset-1">
    <div class="section_header">
      How it Works
    </div>
    <div class="section_body">
      <ol class='col-md-10 col-md-offset-2'>
        <li>Subscribe to our newsletter</li>
        <li>We choose the top 5 trending videos in Japan for the week and subtitle them in English</li>
        <li>We deliver the results to your email once a week</li>
      </ol>
      <%= render 'home/subscribe' %>
    </div>
  </div>
</div>

<div class='row col-xs-offset-2'>
  <div class='col-xs-3 col-md-3'>
    <div class="thumbnail center">
      <%= image_tag 'hqdefault_nani.jpg' %>
    </div>
  </div>
  <div class='col-xs-3 col-md-3'>
    <div class="thumbnail center">
      <%= image_tag 'hqdefault_stone.jpg' %>
    </div>
  </div>
  <div class='col-xs-3 col-md-3'>
    <div class="thumbnail center">
      <%= image_tag 'hqdefault_w_side.jpg' %>
    </div>
  </div>
</div>


<div class='container faq'>
  <div class="section_block col-md-10 col-md-offset-1">
    <div class="section_header">
      FAQ
    </div>
    <div class="section_body">
      <ol class=''>
        <li>
          <h4>Who are you?</h4>
          <p>We are a team of fansubbers who aim to promote video content from Japan to global audiences through subtitles</p>
        </li>
        <li>
          <h4>Do you subtitle anime shows ?</h4>
          <p>No. We do not subtitle licensed TV shows/movies. We only subtitle publicly available videos from sites like Youtube, Vimeo, etc.. Also, in order to respect the original owner's work, we only do softsubbing instead of hardsubbing. This means we simply overlay our subtitles to the original video instead of reuploading a subtitle version to a new channel.</p>
        </li>
        <li>
          <h4>How do I join you as a fansubber?</h4>
          <p>Fill out a form in <a href="https://docs.google.com/a/yasub.com/forms/d/1JaAq20lp_OumLTEC80qnZOqii3xrTt7O8H0Rgo39YnA/viewform?usp=send_form">Become a fansubber</a>, and we'll reach out to you.</p>
        </li>
        <li>
          <h4>Time commitment?</h4>
          <p>Up to you. It could be 1-2 hours/week or more if you want to</p>
        </li>
        <li>
          <h4>How else can I help aside from translations?</h4>
          <p>Send us an email (see next question), and we would gladly let you know of other things that we need help with.</p>
        </li>
        <li>
          <h4>I have other questions. How can I reach you?</h4>
          <p>You can reach us at <a href="mailto:info@yasub.com"> info@yasub.com</a></p>
        </li>
      </ol>
    </div>
  </div>
</div>


<!-- <div class='container home_country_index'>
  <div class="section_block col-md-10 col-md-offset-1">
    <div class="section_header">
      Countries
    </div>
    <div class="section_body">
      <% Language.language_code_to_country_code_map.values.each_slice(5).to_a.each do |country_codes| %>
        <div class='section_column'>
          <ul>
            <% country_codes.each do |country_code| %>
              <li>
                <a href="<%= repositories_url(country_code: country_code) %>">
                  <%= Language.country_code_to_country_name[country_code] %>
                </a>
                <span class='country_video_count'>
                  <% repo_count = @repository_counts_by_country[country_code].to_i %>
                  <%= repo_count > 0 ? "(#{repo_count})" : "" %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
 -->

<div class='container home_video_index'>
  <div class="col-md-10 col-md-offset-1">
<!--     <div class="section_header">
      Releases
    </div>
 -->    <div class="section_body">
      <div class=''>
        <span class=''></span>
      </div>
      <div class='row videos '>
        <% [].each do |repo| %>
          <div class='col-xs-6 col-md-2'>
            <div class="thumbnail center">
              <span class='repo_owner'>
                by <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
              </span>
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <img src="<%= repo.thumbnail_url %>" alt="">
              </a>
              <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                <h6 class='video_name'><%= repo.video.name %></h6>
              </a>
              <div class='stats'>
              </div>
              <!-- <span class='updated_at'><%= time_ago_in_words(repo.updated_at) %> ago</span> -->
            </div>
          </div>
        <% end %>

        <!-- <a href="#" class="see_more_btn btn btn-primary">See More..</a> -->
      </div>
    </div>
  </div>
</div>

