<% set_meta_tags :site => 'Yasub', :title => "Subtitle your Favorite Videos", :description => "Translate or Caption your Favorite Videos from Youtube, Vimeo, and Nico Nico Douga and share it with anyone on the world" %>

<% share_text = "Subtitle your Favorite Videos" %>
<% share_description = "from Youtube, Vimeo, and Nico Nico Douga and share it with anyone on the world" %>
<% share_image_url = "#{request.protocol}#{request.host_with_port}#{asset_path("yasub_share_image.jpg")}" %>

<% content_for :head do  %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="<%= share_image_url %>">
  <meta name="twitter:title" content="<%= share_text %>">
  <meta name="twitter:description" content="<%= share_description %>">

  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="<%= share_text %>" />
  <meta property="og:description" content="<%= share_description %>" />
  <meta property="og:site_name" content="Yasub" />
  <meta property="og:image" content="<%= share_image_url %>" />
  <meta property="og:image:secure_url" content="<%= share_image_url %>" />
  <meta property="fb:app_id" content="1465538213665903" />
<% end %>

<div class='header-section col-xs-12'></div>

<h2 class='col-md-8 col-md-offset-1 center home_section_header ' style='text-align: center !important; border: none !important;'>Subtitle Platform for Fans</h2>

<div class='row '>
  <div class='what_container section_block col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1'>
    <div class="section_body">
      <p>
        Yasub lets you easily add subtitles to other people's video without having re-encode, and reupload to a separate channel. 
      </p>
    </div>
  </div>
</div>

<div class='header-section col-xs-12'></div>


<h3 class='col-md-8 col-md-offset-1 center home_section_header '>Recent</h3>
<div class='row'>
  <div class='latest_videos videos videos_container section_block col-md-10 col-md-offset-3 col-xs-10 col-xs-offset-1'>
    <div class="home_try section_body">
      <% @repos.each_slice(4) do |repos| %>
        <%= render partial: "repositories/list", locals: {repos: repos, repo_width: "col-md-2"}  %>
      <% end %>
    </div>
  </div>
</div>


<h3 class='col-md-8 col-md-offset-1 center home_section_header '>Supports</h3>
<div class='row '>
  <div class='videosite_support_container section_block col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1'>
    <div class="section_body">
      <%= image_tag(asset_path('youtube_logo_gray.png'), class: "col-xs-5 col-md-2 video_support_logo youtube_logo") %>  
      <%= image_tag(asset_path('nico_logo.png'), class: "col-xs-5 col-md-3 video_support_logo nico_logo") %>  
      <%= image_tag(asset_path('vimeo_logo_gray.png'), class: "col-xs-5 col-md-2 video_support_logo vimeo_logo") %> 
    </div>
  </div>
</div>


<div class='header-section col-xs-12'></div>

<h3 class='col-md-8 col-md-offset-1 center home_section_header '>Features</h3>

<%= render "features" %>

<div class='header-section col-xs-12'></div>
<div class='center'>
  <a href="<%= new_user_registration_url %>" class='btn btn-danger btn-lg' style='font-size: 24px;'>Sign up for FREE</a>
  <br>
  <br>
  or
  <a href="<%= videos_new_url %>">Try a Demo</a>
</div>
<div class='header-section col-xs-12'></div>
<div class='header-section col-xs-12'></div>
<div class='header-section col-xs-12'></div>

