<% set_meta_tags :site => 'Yasub', :title => 'Subtitle Tool for Youtube Videos', :description => "Yasub lets you subtitle & caption Youtube Videos." %>
      
        <div class="jumbotron row">
          <div class="col-lg-12">
            <div class="col-lg-6">
        <div id="river_player" data-repo='<%= @autoplay_repo ?     @autoplay_repo.serialize.to_json : "" %>'>
          <div id='autoplay_video_label'>Sample</div>
          <%= render 'videos/player' %>
        </div>
    </div>
      <div class="col-lg-6 call-to-action">
        <h2>Create Your Own Funny Subtitles</h2>
        <ul>
        <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-1x num">1</i>
        </span>
        <span>Choose a template</span>
      </li>
       <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-1x num">2</i>
        </span>
        <span>Add your own funny subtitles</span>
      </li>
       <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-1x num">3</i>
        </span>
        <span>Publish to the world!</span>
      </li>
      </ul>
      </div>
    </div>
          </div>
    <div class="row">
      <% Repository.published.recent.limit(6).each do |repo| %>
          <div class="col-sm-5 col-sm-offset-1">
            <div class="pull-left video" href="<%= repo.url %>" id="<%= repo.id %>" >
              <div class="video-caption" title="<%= repo.video.name %>">
                <img src="<%= repo.thumbnail_url_hq %>" alt="" width="400" height="300">
                <div class="template-buttons row">
              <form method="post" action="<%= repo.fork_url %>" class="button_to fork_repo_form">
              <div>
                <button type="submit" class="fork_repo_btn btn btn-success">
                  Use Template
                </button>
              </div>
            </form>
              <a class="btn btn-danger" href="<%= repo.url %>">Preview Now</a>
            </div>
              </div>
          </div>
          </div>
      <% end %>
    </div>
  </div>
</div>



