<div id="media_input" class="span6 center">
  <form id="sub">
    <div class="control-group">
      <div class="input-append">
        <input id="media_url" name="media_url" class="span5" type="text" placeholder="Paste youtube url">
        <button type="button" id="sub_btn" class="btn btn-primary">Subtitle It</button>
      </div>
    </div>
</form>
</div>

<div id="videos" class="span12">
  <p>Recently Subtitled Videos</p>
  <ul class="thumbnails">
    <% @repos.each do |repo| %>
        <li class="span2">
          <div class="thumbnail center">
            <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
              <img src="<%= repo.thumbnail_url %>" alt="">
            </a>
            <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
              <h6><%= repo.video.name %></h6>
            </a>
          </div>
        </li>
    <% end %>
  </ul>

</div>

