<% set_meta_tags :site => 'Yasub', :title => 'Subtitle Tool for Youtube Videos', :description => "Yasub lets you subtitle & caption Youtube Videos." %>

  <div class="jumbotron">
    <div class="container">
      <div class="col-lg-6 call-to-action col-lg-push-3">
        <h2>Create Your Own Funny Subtitles</h2>
        <ul>
        <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-1x num">1</i>
        </span>
        <span>Choose a template below</span>

      </li>
       <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-1x num">2</i>
        </span>
        <span>Add your own funny subtitles</span>
      </li>
       <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-1x num">3</i>
        </span>
        <span>Publish to the world!</span>
      </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row center">
      <% Repository.templates.recent.limit(6).each do |repo| %>
          <div class="col-sm-4">
            <div class="pull-left video" id="<%= repo.id %>">
              <div class="video-caption" title="<%= repo.video.name %>">

                <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                   <img src="<%= repo.thumbnail_url_hq %>" alt="" width="300" height="225">
                </a>
              </div>
          </div>
          </div>
      <% end %>
    </div>
  </div>



