<div id="media_input" class="span6 center">
  <form id="sub">
    <div class="control-group">
      <div class="input-append">
        <input id="media_url" name="media_url" class="span5" type="text" placeholder="Paste youtube url">
        <button type="button" id="sub_btn" class="btn btn-primary">Subtitle It</button>
      </div>
    </div>
</form>
</div>

<div id="videos" class="span12">
  <h4>Anonymously Subtitled Videos</h4>
  <ul class="thumbnails">
    <% Repository.where(:user_id => nil).each do |repo| %>
        <li class="span2">
          <div class="thumbnail center">
            <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
              <img src="<%= repo.thumbnail_url %>" alt="">
            </a>
            <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
              <h6><%= repo.video.name %></h6>
            </a>
          </div>
        </li>
    <% end %>
  </ul>

  <h4>User Subtitled Videos</h4>
  <ul class="thumbnails">
    <% Repository.where("user_id IS NOT NULL").each do |repo| %>
        <li class="span2">
          <div class="thumbnail center">
            <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
              <img src="<%= repo.thumbnail_url %>" alt="">
            </a>
            <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
              <h6><%= repo.video.name %></h6>
            </a>
            by
            <span id='repo_owner'>
              <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
            </span>

          </div>
        </li>
    <% end %>
  </ul>

</div>

