<% set_meta_tags :site => 'Riversub', :title => 'Subtitle Tool for Youtube Videos', :description => "Riversub lets you subtitle & caption Youtube Videos." %>

<div id='demo' >
  <div id='demo-background'>
  </div>
  <div id='demo-container' class='container'>
    <div class='row center main-heading'>
    </div>
    <div class='row'>
      <div class='span6'>
        <div id="river_player" data-repo='<%= @autoplay_repo.serialize.to_json %>'>
          <div id='autoplay_video_label'>Sample</div>
          <div id='media'></div> 
          <div id='subtitle_bar' class='span5 center'> 
            <span id='subtitle_display' class='span4 center'></span> 
          </div> 
        </div>
      </div>
      <div class='span6 call-to-action'>
        <p id='description'>Video Subtitle Tool</p>
        <span>lets you subtitle existing online videos using just your web browser. </span>
        </br>
        <h4>Features</h4>
        <ul>
          <li>FREE</li>
          <li>Supports Any Language</li>
          <li>Works even for videos you do not own</li>
          <li>Unobtrusive (subtitles will not cover the video)</li>
          <li>Currently supports Youtube only</li>
        </ul>
        <a class="btn btn-danger btn-large demo_btn" href="<%= @guided_walkthrough_repo.editor_url %>">Try the Demo</a> 
      </div>
    </div>
  </div>
</div>

<div id='summary-container' class='container'>
  <div class='row'>
    <div class="videos span12">
      <h4 class="center">Recently created</h4>
      <ul class="thumbnails user">
        <% Repository.user_subtitled.recent.limit(6).each do |repo| %>
            <li class="span2">
              <div class="thumbnail center">
                <span class='repo_owner'>
                  by <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
                </span>
                <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                  <img src="<%= repo.thumbnail_url %>" alt="">
                </a>
                <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                  <h6 class='video_name'><%= repo.video.name %></h6>
                </a>
                <div class='stats'>
                </div>
                <span class='updated_at'><%= time_ago_in_words(repo.updated_at) %> ago</span>

              </div>
            </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

