<% set_meta_tags :site => 'Riversub', :title => 'Subtitle Tool for Youtube Videos', :description => "Riversub lets you subtitle & caption Youtube Videos." %>

<div id='demo' >
  <div id='demo-background'>
  </div>
  <div id='demo-container' class='container'>
    <div class='row center'>
      <p id='description'>A Youtube Subtitle/Closed Captioning Platform</p>
      <p >Join 1000s of people who enjoy subtitling random internet videos</p>
    </br>
    </div>
    <div class='row'>
      <div class='span6 center'>
        <iframe class="youtube-player" type="text/html" width="420" height="260" src="http://www.youtube.com/embed/pkGnKog3S2E" allowfullscreen frameborder="0">
        </iframe>
      </div>
    </div>
    <div class='row'>
      <div class='span6 center'>
        <div id="guided-walkthrough">
          Try the 3 minute </br>
          <a href="<%= GUIDED_WALKTHROUGH_URL %>" class="btn btn-danger btn-large walkthrough_btn">Guided Walkthrough</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='summary-container' class='container'>
  <div class='row'>
    <div class="videos span8 center">
      <p class="title center">Recently Subtitled Videos</p>
      <ul class="thumbnails user">
        <% Repository.user_subtitled.recent.limit(4).each do |repo| %>
            <li class="span2">
              <div class="thumbnail center">
                <span class='repo_owner'>
                  by <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
                </span>
                <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                  <img src="<%= repo.thumbnail_url %>" alt="">
                </a>
                <a href="<%= repo.url %>" id="<%= repo.id %>" class="video" >
                  <h6 class='video_name'><%= repo.video.name %></h6>
                </a>
                <div class='stats'>
                </div>

              </div>
            </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<div id='how-it-works'>
  <div id='how-it-works-background'></div>
  <div id='how-it-works-container' class='container'>
    <div class='row'>
      <div class="videos span8 offset2">
        <p class="title center">How it Works</p>
          <ol>
            <li>
              <div class='step'>
                <h4>Choose a video to subtitle</h4>
                <span>Paste a youtube url via the subtitle button <button class='btn btn-mini btn-info'><i class="icon-facetime-video"></i></button> or you can <a href="<%= videos_url %>">browse</a> what other users have done and create your version(s)</span>
              </div>
              <div class='video_usage'>
              </div>
            </li>
            <li>
              <div class='step'>
                <h4>Add captions</h4>
                <span>Use our FREE online editor to add captions right in the browser. Try the <a href="#">3 minute guided walkthrough now.</a></span>
              </div>
              <div class='video_usage'>
                  
              </div>
            </li>
            <li>
              <div class='step'>
                <h4>Preview your work</h4>
                <span>Once you're done with your editing work, you can see how people would see it real world via the video page</span>
              </div>
              <div class='video_usage'>
                  
              </div>
            </li>
            <li>
              <div class='step'>
                <h4>Let others watch your captioned video</h4>
                <span>Whether your captions are legit, humorous, or non-sensical, you can share it with your friends,family, or random strangers on the internet</span>
              </div>
              <div class='video_usage'>
                  
              </div>
            </li>
        </ol>
      </div>
    </div>
  </div>
</div>
