<% set_meta_tags :site => 'Yasub', :title => 'Subtitling Platform for Fans', :description => "Watch, create, and request subtitles for your favorite online videos." %>

<div class='header-section span12'></div>

<h2 class='col-md-10 col-md-offset-1 center'>Subtitling Platform for Fans</h2>
<div class='center'>
  <span class=''>Watch, create, and request subtitles for your favorite online videos.</span>
</div>

<!-- <div class='share_home'>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Trending Videos in Japan - Subtitled Weekly" data-via="yasub_tv" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
 -->
<div class='row how_it_works'>
  <div class='how_it_works_item col-xs-2'>
    <div class='icon_container'>
      <i class='fa fa-group'></i>
    </div>
    <span>Create a group (i.e. kpop, vocaloid, french lets play)</span>
  </div>
  <div class='how_it_works_item col-xs-2'>
    <div class='icon_container'>
      <i class='fa fa-send'></i>
    </div>
    <span>Invite others to join.</span>
  </div>
  <div class='how_it_works_item col-xs-2'>
    <div class='icon_container'>
      <i class='fa fa-video-camera'></i>
    </div>
    <span>Requests subtitles or help Translate them.</span>
  </div>
</div>

<div class='header-section span12'></div>

<h3 class='col-md-10 col-md-offset-1 center'>Features</h3>


<div class='row '>
<div class='features_container section_block col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-1'>
  <div class="section_body">
    <div class='feature_item'>
      <div class='feature_item_main_header'>
        1. Player
      </div>
      <img class="col-md-5 col-xs-12" src="<%= asset_path("video_comments.png") %>">
      <div class='col-md-5 col-xs-12 feature_description_container'>
        <h3 class='feature_item_header'>Drive Traffic to Uploader</h3>
        <span class='feature_description'>Softsubs. Instead of reuploading a separate video, created subtitles are simply overlayed to the original video. This ensures that video traffic still goes towards the original uploader.</span>
        <h3 class='feature_item_header'>Share & Embed</h3>
        <span class='feature_description'>Created subtitles can be shared and embedded in external sites. </span>
        <h3 class='feature_item_header'>Comments</h3>
        <span class='feature_description'>Users can also add comments to the subtitle video, thus providing feedback to translators who help subtitle them</span>
      </div>
      
    </div>
    <div class='feature_item'>
      <div class='feature_item_main_header'>
        2. Groups
      </div>
      <img class="col-md-5 col-xs-12" src="<%= asset_path("group_page.png") %>">
      <div class='col-md-5 col-xs-12 feature_description_container'>
        <h3 class='feature_item_header'>Request Subtitles</h3>
        <span class='feature_description'>Viewers can request subtitles that's related to the group</span>
        <h3 class='feature_item_header'>Publish and Subscribe</h3>
        <span class='feature_description'>Anyone who subscribes to the group will get notified whenever a subtitle has been released for the group. </span>
        <h3 class='feature_item_header'>Invite Members</h3>
        <span class='feature_description'>Users can invite members to the group to increase the chance of finding translators who are willing to subtitle videos and also to lets others know about the subs being released.</span>
      </div>
    </div>
    <div class='feature_item'>
      <div class='feature_item_main_header'>
        3. Subtitle Editor
      </div>
      <img class="col-md-5 col-xs-12" src="<%= asset_path("editor_view.png") %>">
      <div class='col-md-5 col-xs-12 feature_description_container'>
        <h3 class='feature_item_header'>Multiple Views</h3>
        <span class='feature_description'>One can toggle between 'Timeline' and 'Subtitle' view. Timeline offers a more graphical interface for adjusting start and end times of a subtitle, while the 'Subtitle' view gives a more familiar list view that provides easier navigation of the entire subtitle.</span>
        <h3 class='feature_item_header'>Upload Existing Subtitles</h3>
        <span class='feature_description'>Sometimes, translators prefer to use other editors such as Aegisub. In those cases, they can create the subtitles using their own tools and later upload them to the online editor.</span>
      </div>
    </div>
    <div class='feature_item'>
      <div class='feature_item_main_header'>
        4. Translator Profiles
      </div>
      <img class="col-md-5 col-xs-12" src="<%= asset_path("translator_profiles.png") %>">
      <div class='col-md-5 col-xs-12 feature_description_container'>
        <h3 class='feature_item_header'>Work History</h3>
        <span class='feature_description'>Translators will have their own page that list past subtitles that they have created.</span>
        <h3 class='feature_item_header'>Profile Details</h3>
        <span class='feature_description'>They can also add their profile picture and profile description to let viewers know about who they are.</span>
      </div>
    </div>
  </div>
</div>
</div>
 
<div class='header-section span12'></div>

<div class='row'>
  <h3 class='col-md-10 col-md-offset-1 center'>Videos</h3>
  <div class='latest_videos videos videos_container section_block col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-1'>
    <div class="home_try section_body">
      <% repos = Repository.where(language: "en").published.recent.limit(5) %>
      <%= render partial: "repositories/list", locals: {repos: repos, repo_width: "col-md-2"}  %>
    </div>
  </div>
</div>

<div class='row'>
  <h3 class='home_groups_header col-md-10 center'>Groups</h3>

  <div class='home_group_list_container col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-1'>
    <% Group.all.sort_by { |group| group.members.count }.reverse[0..4].each_slice(5) do |groups| %>
      <div class='home_group_row'>
        <% groups.each do |group| %>
          <a href="<%= group.url %>" class="home_group_item col-md-2 col-xs-12">
            <div class='avatar' >
              <div class="thumbnail">
                <%= image_tag group.avatar.url  %>
              </div>
            </div>
            <span class="title river_gray"><%= group.name %></span>
            <p class='group_description'>
              <%= group.description %>
            </p>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<div class='center home_call_to_action'>
  <a href="<%= new_user_registration_url %>" class='btn btn-danger btn-lg'>Sign up for FREE</a>
</div>

<% share_text = "Subtitling Platform for Fans. Watch, create, and request subtitles for your favorite online videos." %>

<div class='center'>
  Share
  <br>
  <br>
  <a href="https://www.facebook.com/sharer/sharer.php" target="_blank" class='facebook_home_share'>
    <%= image_tag "fb-32.png", style: "" %>
  </a>
  <a href="https://twitter.com/share?text=<%= share_text %>" target="_blank" class='twitter_home_share' >
    <%= image_tag "twitter-32.png", style: "" %>
  </a>
  <br>
  <br>
  <br>
      <div class="fb-share-button" data-layout="box_count"></div>
    <a href="https://twitter.com/share?count=vertical&url=www.yasub.com&text=<%= share_text %>" target="_blank" class="twitter-share-button">Tweet</a>

  <br>
</div>

