<% set_meta_tags :site => 'Yasub', :title => 'Subtitling Platform for Fans', :description => "Promote your Favorite Videos with your own Translation Channel." %>

<% share_text = "Subtitling Platform for Fans." %>
<% share_description = "Promote your Favorite Videos with your own Translation Channel." %>
<% share_image_url = "#{request.protocol}#{request.host_with_port}#{asset_path("yasub_share_image.jpg")}" %>

<% content_for :head do  %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="<%= share_image_url %>">
  <meta name="twitter:title" content="<%= share_text %>">
  <meta name="twitter:description" content="<%= share_description %>">

  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="<%= share_text %>" />
  <meta property="og:description" content="<%= share_description %>" />
  <meta property="og:site_name" content="Yasub" />
  <meta property="og:image" content="<%= share_image_url %>" />
  <meta property="og:image:secure_url" content="<%= share_image_url %>" />
  <meta property="fb:app_id" content="1465538213665903" />
<% end %>

<div class='header-section col-xs-12'></div>

<h1 class='col-md-10 col-md-offset-1 center home_title'>Create your Translation Channel</h1>
<div class='center'>
  <span class='home_description'>Subtitle your Favorite Videos while still Supporting the Original Video Owner</span>
</div>

<div class='header-section col-xs-12'></div>
<!-- <div style='border: solid 1px gray; height: 350px; display: block; background-color: black;' class='col-xs-10 col-xs-offset-1'></div> -->

<!-- <div class='header-section col-xs-12'></div>
<div class='header-section col-xs-12'></div>
<h3 class='col-md-10 col-md-offset-1 center home_section_header'>How it Works</h3>


<div class='row '>
  <div class='why_container section_block col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1'>
    <div class="section_body">
      <p style='text-align: justify;'>
        Yasub allows fans to subtitle other people's videos while still supporting the original video owner. This is done through softsubs, in which subtitles are simply overlayed to the original video instead of reuploading a new video to a new channel. 
      </p>
    </div>
  </div>
</div>
 -->
<div class='header-section col-xs-12'></div>

<div class='row'>
  <h3 class='col-md-10 col-md-offset-1 center home_section_header'>Videos</h3>
  <div class='latest_videos videos videos_container section_block col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-1'>
    <div class="home_try section_body">
      <% @repos.each_slice(5) do |repos| %>
        <%= render partial: "repositories/list", locals: {repos: repos, repo_width: "col-md-2"}  %>
      <% end %>
    </div>
  </div>
</div>

<!-- <div class='center'>
  <h3 class='col-md-10 col-md-offset-1 center home_section_header '>What is Yasub?</h3>
</div>

<div class='row '>
  <div class='what_container section_block col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1'>
    <div class="section_body">
      <p>
        Yasub is a community where anyone can create their own translation channel and subtitle internet videos that they care about while still supporting the original video owner. 
      </p>
        
    </div>
  </div>
</div>
 -->
<div class='header-section col-xs-12'></div>
<%= render "features" %>

