<div class='header-section col-md-12'></div>

<h2 class='col-md-10 col-md-offset-1 center'>Search Results</h2>

<div class='row '>
  <% if @repos.present? %>
    <div class='search_results_container latest_videos videos videos_container section_block col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-1'>
      <div class="home_try section_body">
        <% @repos.each_slice(5) do |repos| %>
          <%= render partial: "repositories/list", locals: {repos: repos, repo_width: "col-md-2"}  %>
        <% end %>
        <%= paginate @repos %>
      </div>
    </div>
  <% else %>
    <div class='col-md-5 center'>
      <br>
      <p>No results found for <span class='search_term'><%= params[:q] %></span> </p>
      <br>
      <p>You can <a href="<%= videos_new_url %>">contribute</a> a new subtitle. Or you can make a <a href="<%= video_request_index_url %>">request</a> and share it with others who can subtitle it for you. </p>
      <br>
      <br>
      <br>
    </div>
  <% end %>
</div>
