<ul class="">
  <% @requests.each do |request| %>
    <li>
      <a class='col-xs-2' href="<%= request.url %>"><%= image_tag(request.video.thumbnail_url, width: "100%") %></a>
      <div class='col-xs-6 request_title_details'>
        <a href="<%= request.url %>" class='request_list_title'><%= request.video.title %></a>
        <% if request.details %>
          <span class='request_list_details'><%= request.details %></span>
        <% end %>
        <div class='request_list_sub_details'>
          <% if request.group.present? && @group.nil? %>
            <a class='request_list_group' href="<%= request.group.url %>"><%= request.group.name %></a>
          <% end %>
          requested 
          <span class='request_list_date'><%= time_ago_in_words(request.created_at) %> ago</span>
          by
          <a class='request_list_submitter' href="<%= request.submitter.url %>">
            <%= request.submitter.username %>
          </a>
        </div>
      </div>
      <div class='col-xs-2 request_to_language'>
        <%= request.from_language_pretty %>
        >
        <%= request.to_language_pretty %>
      </div>
      <div class='col-xs-1 request_actions'>
        <% if request.completed? %>
          <a class='request_status col-xs-2' href='<%= request.completed_repository.url %>'>Completed</a>
        <% else %>
          <a class='request_list_subtitle_btn' href="<%= request.new_repository_url %>">Subtitle</a>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
