<div class='header-section col-md-12'></div>
<div class="background"></div>
<div class='container'>
  <div class='row'>
    <div class="">
      <div class="center request_new_header">
        <% if @group %>
          <a href="<%= @group.url %>"><span><%= @group.name %></span></a> / 
        <% end %>
        <span>Request Subtitle</span>
      </div>
      <br>
      <br>

      <%= form_tag (@group.try(:create_request_url) || video_request_create_url), class: "request_form col-md-6 col-md-offset-3" do %>
        <div class="subtitle_video_container">
          <ol class='form_items'>
            <li>
              <h4>Youtube Url</h4>
              <input name="source_url" class="source_url" type="text" placeholder="Paste Youtube Link">
            </li>
            <li>
              <h4>From</h4>
              <%= select_tag("video_language_code", options_for_select(Video.language_select_options, @video_language_code || @group.try(:default_video_language_code))) %>
            </li>
            <li>
              <h4>To</h4>
              <%= select_tag("request_language_code", options_for_select(Repository.language_select_options, @request_language_code)) %>
            </li>
            <li>
              <h4 style='display: inline-block;'>Details</h4><span> (optional)</span> 
              <%= text_area_tag("details") %>
            </li>
          </ol>
            <% if @group.try(:short_name) == "jpweekly" %>
              <div class='rules_container'>
                <div class="section_block">
                  <div class="section_header">
                    Rules
                  </div>
                  <div class="section_body">
                    <ol>
                      <li>Video must be < 10 minutes</li>
                      <li>No movies/tv shows</li>
                      <li>Japanese Videos only</li>
                    </ol>
                  </div>
                </div>
              </div>

            <% end %>
          <div class='center'>
            <input class='river_btn request_form_submit_btn sub_btn' type="submit" value="Submit">
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
<div class='header-section col-md-12'></div>

