<div class='row'>
  <div class="col-xs-8  col-xs-offset-2" >
    <div class='center'>
      <h2>New Official Page</h2>
    </div>
    <br>
    <br>

    <h4>Follow these steps to get started:</h4>
    <ol>
      <li>
        <h5>Connect Youtube Account</h5>
        <p>By clicking connect, you're approving users to subtitle your videos. This will also list your available videos and help you manage user subtitles.</p>
        <% if @identity.present? %>
          <span class='youtube_account_connected_label'>Connected</span>
        <% else %>
          <a class="btn btn-<%= social_button_provider_name(:google_oauth2) %>" href="<%= user_omniauth_authorize_path(:google_oauth2) %>">Connect</a>
        <% end %>
      </li>
      <% if @identity && @identity.page.nil? %>
        <li>
          <h5>Create your page</h5>
          <%= form_for @page do |f| %>
            <input name="page[identity_id]" type="hidden" value="<%= @identity.id %>">
            <span>yasub.com/p/</span>
            <%= f.text_field :short_name, placeholder: "ie. #{@user.username}" %>
            <%= f.submit "create", class: "name_page_btn" %>
          <% end %>
        </li>
      <% end %>
    </ol>
    <br>
    <br>
  </div>
</div>

