<div class='page_show_container container'>
  <%= render "header" %>

  <div class='row'>
    <div class='page_directions section_block col-md-8 col-md-offset-2'>
      <div class='section_header'>
        Let's Subtitle 
      </div>
      <div class='section_body'>
        This is the fan translation page of the Youtube Channel, <a href="<%= @page.source_url %>"><%= @page.title %></a>, approved by the channel owner. Below, you can view subtitles done by other users or you can create one yourself. Any subtitles created will drive traffic to the original youtube owner. The owner will get notified of user submitted subtitles and will have the option to include them in the youtube video.
      </div>
    </div>
    <% if @user_submissions.present? %>
      <%= render "user_submissions" %>
      <%= render "available_videos" %>
    <% else %>
      <%= render "available_videos" %>
      <%= render "user_submissions" %>
    <% end %>
  </div>
</div>


