<div class='row'>
  <div class="col-xs-8  col-xs-offset-2" >
    <div class='center'>
      <% if @page.insufficient_scope? %>
        <h2><a href="<%= @page.url %>"><%= @page.short_name %> </a> - Grant Permission</h2>
      <% else %>
        <h2><a href="<%= @page.url %>"><%= @page.short_name %> </a> - Connected</h2>
      <% end %>
    </div>
    <br>
    <br>

    <% if @page.insufficient_scope? %>
      <ol>
        <li>
          <h5>Grant Extra Permissions</h5>
          <p>By clicking button below, you're approving users extra permissions to make the application work.</p>
          <a class="btn btn-<%= social_button_provider_name(:google_oauth2) %>" href="<%= user_omniauth_authorize_path(:google_oauth2, redirect_uri: @redirect_uri, state: @state, scope: @scope) %>">Grant Additional Permission</a>
          <br>
          <br>
          <span class='oauth_scope_list'>Missing Permissions</span>
          <ul>
            <% @page.insufficient_scopes.split(",").each do |permission| %>
              <li><%= permission %></li>
            <% end %>
          </ul>
          <span class='oauth_scope_list'>Current Permissions</span>
          <ul>
            <% @current_permissions.each do |permission| %>
              <li><%= permission %></li>
            <% end %>
          </ul>
        </li>
      </ol>
    <% else %>
      <ol>
        <li>
          <h5>Connect Youtube Account</h5>
          <p>By clicking connect, you're approving users to subtitle your videos. This will also list your available videos and help you manage user subtitles.</p>
          <span class='youtube_account_connected_label'>Connected</span>
        </li>
        <li>
          <h5>Page Link</h5>
          <a href="<%= @page.url %>"><%= @page.url %></a>
        </li>
        <li>
          <h5>Done! You're all set</h5>
          <p>You can now share the above page with your existing viewers/followers.</p> 
        </li>
      </ol>
    <% end %>
    <br>
    <br>
  </div>
</div>
