<%= form_for([@group,@release]) do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% @release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
<!--   <div class="field">
    <%= f.label :is_published %><br />
    <%= f.check_box :is_published %>
  </div>
 -->  
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
