
<ul class="release_items_container col-xs-9 col-xs-offset-2">
  <% @release.release_items.order("position").each do |item| %>
    <% repo = item.repository %>
    <% video = repo.video %>
    <li class='release_item'>
      <div class="video_thumb">
        <a href="<%= repo.url %>" >
        <img src="<%= video.thumbnail_url %>" alt="">
        </a>
      </div>
      <div class="video_title <%= can?(:edit, repo) ? 'col-md-5' : 'col-md-6' %>">
        <a href="<%= repo.url %>" class="video" >
          <span class='video_name'><%= repo.release_title %></span>
        </a>
        <% unless repo.release_title == video.title %>
          <br/>
          <span class='orig_video_name river_gray'><%= video.title %></span>
        <% end %>
      </div>
      <div class="video_duration col-md-1">
        <%= repo.formatted_duration %>
      </div>
      <div class="assignee col-md-2">
        <span class='repo_owner'>
          <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
        </span>
      </div>
      <% if can?(:edit, repo) %>
        <a href="<%= repo.editor_url %>" class="release_item_editor_btn col-md-1 btn btn-danger btn-xs">Editor</a>
      <% end %>
    </li>
  <% end %>
</ul>
