
<ul class="release_items_container col-md-9 col-md-offset-2 col-xs-9 col-xs-offset-1">
  <% @release.release_items.order("position").each do |item| %>
    <% repo = item.repository %>
    <% video = repo.video %>
    <li class='release_item'>
      <div class="video_thumb">
        <a href="<%= repo.url %>" >
        <img src="<%= video.thumbnail_url %>" alt="">
        </a>
      </div>
      <span class="video_duration">
        <%= repo.formatted_duration %>
      </span>
      <div class="video_title">
        <a href="<%= repo.url %>" class="video" >
          <span class='video_name'><%= truncate(repo.release_title, length: 80) %></span>
        </a>
        <% unless repo.release_title == video.title %>
          <br/>
          <span class='orig_video_name river_gray'><%= video.title %></span>
        <% end %>
      </div>
      <div class="assignee">
        <span class='repo_owner'>
          translator: 
          <a href="<%= repo.owner_profile_url %>" class="owner_name"><%= repo.owner %></a>
        </span>
      </div>
      <% if can?(:edit, repo) %>
        <a href="<%= repo.editor_url %>" class="release_item_editor_btn col-md-1 btn btn-danger btn-xs">Editor</a>
      <% end %>
    </li>
  <% end %>
</ul>
