<% set_meta_tags :site => 'Yasub', :title => @release.title %>

<% content_for :head do  %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="<%= @release.thumbnail_url_hq %>">
  <meta name="twitter:title" content="<%= @release.share_text %>">
  <meta name="twitter:description" content="<%= @release.share_description %>">

  <meta property="og:url" content="<%= @release.url %>" />
  <meta property="og:title" content="<%= @release.share_text %>" />
  <meta property="og:description" content="<%= @release.share_description %>" />
  <meta property="og:site_name" content="Yasub" />
  <meta property="og:image" content="<%= @release.thumbnail_url_hq %>" />
  <meta property="fb:app_id" content="1465538213665903" />
<% end %>

<div class='header-section col-xs-12'></div>
<div class='row center'>
  <div class="release_show_container col-xs-12" data-release="<%= @release.serialize.to_json %>">
    <a class="title river_gray" href="<%= @group.url %>"><%= @group.name %></a>
    <p>
      <%= @group.description %>
    </p>
    <% unless @release.is_published? %>
      <br/>
      <%= link_to "Publish", @release.publish_url, class: "publish_release_btn", method: "POST" %>
    <% end %>
    <% @sharable = @release %>
    <%= render "videos/social_share" %>
  </div>
</div>

<h3 class="release_videos_header river_gray col-xs-8 col-xs-offset-2">
  <a href="<%= @group.url %>">Issues</a>
  >
  <span class="title river_gray"><%= @release.id %></span>
  <span class="issue_date pull-right">
    <%= @release.date.strftime("%b %-d, %Y") %>
  </span>
</h3>


<%= render "release_items" %>


<% if can? :edit, @release %>
    <%= render 'release_item_form' %>
<% else %>
  <div class='header-section col-xs-12'></div>
<% end %>

