<div class='header-section span12'></div>
<div class='row center'>
  <div class="col-xs-12">
    <a class="title river_gray" href="<%= @group.url %>"><%= @group.name %></a>
    <p>
      <%= @group.description %>
    </p>
  </div>
</div>

<h3 class="release_videos_header river_gray col-xs-7">
  <a href="<%= @group.url %>">Issues</a>
  >
  <span class="title river_gray"><%= @release.id %></span>
  <span class="issue_date pull-right">
    <%= @release.date.strftime("%b %-d, %Y") %>
  </span>
</h3>

<ul class="release_items_container col-xs-8 col-xs-offset-2">
  <% @release.release_items.each do |item| %>
    <% repo = item.repository %>
    <% video = repo.video %>
    <li class='release_item'>
      <div class="video_thumb">
        <img src="<%= video.thumbnail_url %>" alt="">
      </div>
      <div class="video_title col-md-6">
        <a href="<%= repo.url %>" class="video" >
          <span class='video_name'><%= video.title %></span>
        </a>
      </div>
      <div class="video_duration col-md-1">
        <%= format_time video.duration.to_i %>
      </div>
      <div class="assignee col-md-2">
        <span class='repo_owner'>
          <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
        </span>
      </div>
      <% if repo.display_edit?(current_user) %>
        <a href="<%= repo.editor_url %>" class="col-md-1 btn btn-danger btn-xs">Editor</a>
      <% end %>
    </li>
  <% end %>
</ul>

<% if can? :edit, @release %>
    <%= render 'release_item_form' %>
<% end %>

