<p id="notice"><%= notice %></p>

<h1></h1>
<div class='row center'>
  <div class="col-xs-12">
    <span class="title river_gray">Release #<%= @release.id %></span>
    <br/>
    <span>
      <%= @release.date.strftime("%b %d %Y") %>
    </span>
    <br/>
    <span>
      Is published: <%= @release.is_published %>
    </span>
  </div>
</div>

<%= render 'release_item_form' %>

<h3>Videos</h3>

<ul class="release_items_container">
  
  <% @release.release_items.each do |item| %>
    <% repo = item.repository %>
    <% video = item.video %>
    <li class='release_item'>
      <div class="video_thumb">
        <img src="<%= video.thumbnail_url %>" alt="">
      </div>
      <div class="video_title">
        <% if repo %>
          <a href="<%= repo.url %>" class="video" >
            <h4 class='video_name'><%= video.title %></h4>
          </a>
        <% else %>
          <h4 class='video_name'><%= video.title %></h4>
        <% end %>
      </div>
      <div class="video_duration">
        <%= video.duration %>
      </div>
      <div class="assignee">
        <% if repo %>
          <span class='repo_owner'>
            <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
          </span>
        <% else %>
          <a href="<%= item.video.new_repository_url %>">claim</a>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
