<h1></h1>
<div class='row center'>
  <div class="col-xs-12">
    <span class="title river_gray">Release #<%= @release.id %></span>
    <br/>
    <span>
      <%= @release.date.strftime("%b %d %Y") %>
    </span>
    <br/>
    <span>
      Is published: <%= @release.is_published %>
    </span>
  </div>
</div>

<%= render 'release_item_form' %>

<h3>Videos</h3>

<ul class="release_items_container">
  
  <% @release.release_items.each do |item| %>
    <% repo = item.repository %>
    <% video = repo.video %>
    <li class='release_item'>
      <div class="video_thumb">
        <img src="<%= video.thumbnail_url %>" alt="">
      </div>
      <div class="video_title col-md-6">
        <a href="<%= repo.url %>" class="video" >
          <h4 class='video_name'><%= video.title %></h4>
        </a>
      </div>
      <div class="video_duration col-md-1">
        <%= format_time video.duration.to_i %>
      </div>
      <div class="assignee col-md-1">
        <span class='repo_owner'>
          <a href="<%= repo.owner_profile_url %>" style="color:slategray"><%= repo.owner %></a>
        </span>
      </div>
      <% if repo.display_edit?(current_user) %>
        <a href="<%= repo.editor_url %>" class="col-md-1 btn btn-success btn-xs">Editor</a>
      <% end %>
    </li>
  <% end %>
</ul>
