<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @repo.uploader_human_readable_name %>,</p>

    <p>
      We've recently translated your youtube video, <a href="<%= @repo.video_source_url %>"><%= @repo.video_name %></a>, in English, which you can <a href="<%= @repo.url %>">see here</a>. Not only will this help non-Japanese speakers understand your video, it will also help increase your youtube traffic to viewers outside of Japan, such as ones from US, Europe, and other parts of Asia.
    </p>

    <p>
      If you would like to make our subtitle directly available in your youtube video, we have included <a href="<%= @repo.export_url %>">instructions on this url </a>. Hope you find our subtitle useful. Thank you and have a good day!
    </p>

    <br>
    <br>
    <span>Reginald Tan</span><br>
    <span>レジナル</span><br>
    <span>www.yasub.com</span><br>
    <span>Website Owner</span><br>

    <br>
    <br>
    <br>

    --- 日本語 ---

    <p>こんにちは <%= @repo.uploader_human_readable_name %>さん!</p>

    <br>
    <p>
      あなたのユーチューブビデオ []を英語に翻訳しました。<a href="<%= @repo.url %>">ここで見る</a>ことができます。外国人の方々にあなたのビデオを理解してもらうのみならず、翻訳することで、あなたのユーチューブ足跡レビューをアジア、ヨーロッパ、アメリカなど諸外国から集めることができます。

      この度、私たちはあなたのYoutube動画 [<a href="<%= @repo.video_source_url %>"><%= @repo.video_name %></a>] を英語に翻訳しました。このURL(<%= @repo.url %>) からご覧頂けます。私たちは日本で人気のあるYoutube動画を世界中の視聴者に紹介したいと思っています。あなたの動画はとても面白く、多くの人に視聴される価値のあるものですので、字幕を付けることにしました。字幕によって、日本語のできない人があなたの動画を理解できるようになるだけでなく、日本以外の地域、例えばアメリカやヨーロッパ、アジア諸国でもYoutube再生回数が増えると予想されます。
    </p>

    <br>
    <p>
      ご自分のYoutube動画にこの字幕を表示させたいという方のために、このURL((<%= @repo.export_url %>))上に手順説明を載せておきました。どうぞお役立てください。 よろしくお願いします。それでは、よい一日を！
    </p>
  </body>
</html>
