<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <%= yield :head %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'> -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>


  <meta name="google-site-verification" content="3gU-6xVgVkfOP_HFn8yPECp5UT-3mmA9SwkgwO4f97Y" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <%= csrf_meta_tags %>
</head>
<body class="white">
    <!--
      facebook javascript sdk
      https://developers.facebook.com/docs/plugins/share-button/
    -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1465538213665903";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- https://about.twitter.com/resources/buttons#tweet -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- https://developers.google.com/+/web/share/ -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    <nav class="navbar navbar-default" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Yasub</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'activer' if params[:controller] == 'home' && params[:action] == 'community_translations' %> home_watch_list_item"><a href="<%= community_translations_url %>">Explore</a></li>
        <li class=""><a href="<%= videos_new_url %>" class='layout_subtitle_video_btn'><i class='fa fa-plus'></i> Create</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="home_search_list_item">
          <form action="<%= search_url %>" class="home_search_form" method="get">
            <input class="home_search_input" id="q" name="q" placeholder="Search" type="text">
          </form>
        </li>
            <li class="divider-vertical"></li>
             <% if user_signed_in?  %>
              <li class="dropdown no_left_border_list_item">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.username %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li><%= link_to 'View profile', user_url(current_user) %></li>
                  <li><%= link_to 'Settings', edit_user_registration_url %></li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Logout", destroy_user_session_url, method: :delete %></li>
            <% else %>
               <li class='no_left_border_list_item'><%= link_to "Sign up", new_user_registration_url %></li>
              <li class="divider-vertical"></li>
               <li><%= link_to "Login", new_user_session_url %></li>
            <% end %>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container">
      <% if flash.present? %>
        <div id="flash_container">
          <% if flash[:error] %>
            <div id="flash_error" class="flash alert alert-block"><%= flash[:error] %></div>
          <% end %>
          <% if flash[:notice] %>
            <div id="flash_error" class="flash alert alert-block"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:alert] %>
            <div id="flash_error" class="flash alert alert-block"><%= flash[:alert] %></div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul>
              <li class="sitename">Yasub © 2014. All Rights Reserved</li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="mailto:info@yasub.com">Contact</a></li>
              <li><a href="https://twitter.com/yasub_tv" class='twitter_follow_btn'><%= image_tag "twitter-32.png" %></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>


    <!-- Modal -->
    <div id="instructions_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instructions</h3>
      </div>
      <div class="modal-body">

        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                1. Adding Subtitles
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                While the video is playing
                </br>click the <a class='btn btn-mini'><i class='icon-circle' style="color: #B3192D;"></i> Start Timing</a> button to mark the beginning of a subtitle.
                </br>click the <a class='btn btn-mini'><i class='icon-circle' style="color: #333;"></i> Stop </a> button to end the subtitle.

              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                2. Editing Subtitles
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                Double click tracks <span class='track' style='width:10px; height: 13px;'></span> to to edit their subtitles
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                4. Keyboard Shortcuts
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                <h4>Keyboard Shortcuts</h4>
                <kbd class='light'>Shift</kbd> once to Start Timing. Press it again to Stop Timing.
                </br><kbd class='light'>Space</kbd> to play or pause the video
                </br><kbd class='light'>Esc</kbd>   Cancel a timing or editing of subtitle
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>

    <% if @repo %>
      <div id="share_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Share</h3>
            </div>
            <div class="modal-body">
              <div class="social_share_container row">
                <div class="col-md-1 col-md-offset-1">
                  <a href="https://www.facebook.com/sharer/sharer.php?u=<%= @repo.url %>" target="_blank">
                     <%= image_tag "fb-32.png" %>
                  </a>
                </div>
                <div class="col-md-1">
                  <a href="https://plus.google.com/share?url=<%= @repo.url %>" target="_blank">
                     <%= image_tag "gplus-32.png"  %>
                  </a>
                </div>
              </div>
              <div class="row">
                <h5 class="col-md-1 col-md-offset-1" style="position: relative; top: -5px; margin-right: -20px;">Link</h5>
                <input class="col-md-4 share_link_input" value="<%= @repo.url %>" type="text" onclick="this.select()">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  <%= javascript_include_tag "application" %>
  <script>
    // set current controller action
    river.route = "<%= params[:controller] %>" + "#" + "<%= params[:action] %>";

    // google analytics
    <% if Rails.env.production? %>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42184801-1', 'yasub.com');
      ga('send', 'pageview');
    <% end %>
  </script>

</body>
</html>

