<!DOCTYPE html>
<html>
<head>
  <title>River</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='container'>
    <div class="navbar" id="header">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Editor</a></li>
        </ul>

        <ul class="nav pull-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="main_container">
      <%= yield %>
    </div>

  </div>


</body>
</html>
