<!DOCTYPE html>
<html>
<head>
  <title>River</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
  
  
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40573855-1', 'zeroplay.net');
    ga('send', 'pageview');

  </script>
</head>
<body>

  <div class='container'>
    <div class="navbar navbar-fixed-top" id="header">
      <div class="navbar-inner">
        <!-- <a class="brand" href="/">River</a> -->
        <ul class="nav">
          <li class="<%= 'active' if params[:controller] == 'home' && params[:action] == 'index' %>"><a href="/">Home</a></li>
          <li class="<%= 'active' if params[:controller] == 'home' && params[:action] == 'about' %>"><a href="/about">About</a></li>
          <!-- <li class="<%= 'active' if params[:controller] == 'home' && params[:action] == 'tutorial' %>"><a href="/tutorial">Tutorial</a></li> -->
        </ul>

        <ul class="nav pull-right">
          <% if user_signed_in?  %>
            <li class="dropdown">
              <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.username %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li><%= link_to 'View profile', user_path(current_user) %></li>
                <li><%= link_to 'Settings', edit_user_registration_path %></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="main_container">
      <% if flash[:error] %>
        <div id="flash_error" class="flash alert alert-block"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div id="flash_error" class="flash alert alert-block"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div id="flash_error" class="flash alert alert-block"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    </div>

 
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instructions</h3>
      </div>
      <div class="modal-body">
        <ul>
          <li>
            <h4>Adding Subtitles</h4>
            While the video is playing
            </br>click the <a class='btn btn-mini'><i class='icon-circle' style="color: #B3192D;"></i> Start Timing</a> button to mark the beginning of a subtitle.  
            </br>click the <a class='btn btn-mini'><i class='icon-circle' style="color: #333;"></i> Stop </a> button to end the subtitle at a specific time of your choice.
             
          </li>
          <li>
            <h4>Editing Subtitles</h4>
            Double click subtitles to edit them
          </li>
          <li>
            <h4>Saving</h4>
            click the <a class='btn btn-info btn-mini'><i class='icon-save'></i> Save</a> button to save your work. 
            </br>click the <a class='btn btn-mini'><i class='icon-download-alt'></i> Download</a> button to download the subtitles file in .srt format which you can simply upload to a youtube video (only if you're the owner) to add subtitles to it.
          </li>
          <li>
            <h4>Keyboard Shortcuts</h4>
            <code>Shift</code> once to Start Timing. Press it again to Stop Timing.
            </br><code>Space</code> to play or pause video
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

  </div>

</body>
</html>
