<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <!-- <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>


  <meta name="google-site-verification" content="3gU-6xVgVkfOP_HFn8yPECp5UT-3mmA9SwkgwO4f97Y" />
  
  <%= csrf_meta_tags %>
  <script>
    // set current controller action
    river.route = "<%= params[:controller] %>" + "#" + "<%= params[:action] %>";

    // google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42184801-1', 'riversub.cc');
    ga('send', 'pageview');
  </script>
</head>
<body>
    <!-- 
      facebook javascript sdk 
      https://developers.facebook.com/docs/plugins/share-button/
    -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1465538213665903";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar navbar-fixed-top" id="header">
      <div class="navbar-inner">
        <div class="container nav-container">
          <a class="brand" href="<%= root_url %>"> Riversub</a>
          <ul class="nav menu-nav">
            <li class="divider-vertical"></li>
            <li class="<%= 'activer' if params[:controller] == 'videos' && params[:action] == 'index' %>"><a href="<%= videos_url %>">Videos</a></li>
            <li class="divider-vertical"></li>
            <li class="<%= 'activer' if params[:controller] == 'home' && params[:action] == 'faq' %>"><a href="<%= faq_url %>">FAQ</a></li>
            <li class="divider-vertical"></li>
            <!-- <li class="<%= 'active' if params[:controller] == 'home' && params[:action] == 'tutorial' %>"><a href="/tutorial">Tutorial</a></li> -->
          </ul>

          <ul class="nav pull-right">
            <li><button id='layout_new_project_btn' class='btn btn-small' data-toggle='modal' data-target='#new_project_modal'><i class='icon-facetime-video'></i> Subtitle a Video</button></li>
            <li class="divider-vertical"></li>
            <% if user_signed_in?  %>
              <li class="dropdown">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.username %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li><%= link_to 'View profile', user_url(current_user) %></li>
                  <li><%= link_to 'Settings', edit_user_registration_url %></li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Logout", destroy_user_session_url, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_url %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Login", new_user_session_url %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="main_container">
            <div id="flash_container">
                <% if flash[:error] %>
                <div id="flash_error" class="flash alert alert-block"><%= flash[:error] %></div>
                <% end %>
                <% if flash[:notice] %>
                <div id="flash_error" class="flash alert alert-block"><%= flash[:notice] %></div>
                <% end %>
                <% if flash[:alert] %>
                <div id="flash_error" class="flash alert alert-block"><%= flash[:alert] %></div>
                <% end %>
                </div>
            <%= yield %> 
    </div>
    
    <footer>
      <div class="container">
        <ul>
          <li class="sitename">Riversub.cc © 2014. All Rights Reserved</li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="mailto:info@riversub.cc">Feedback</a></li>
        </ul>
      </div>
    </footer>


    <!-- Modal -->
    <div id="instructions_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instructions</h3>
      </div>
      <div class="modal-body">

        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                1. Adding Subtitles
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                While the video is playing
                </br>click the <a class='btn btn-mini'><i class='icon-circle' style="color: #B3192D;"></i> Start Timing</a> button to mark the beginning of a subtitle.
                </br>click the <a class='btn btn-mini'><i class='icon-circle' style="color: #333;"></i> Stop </a> button to end the subtitle.

              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                2. Editing Subtitles
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                Double click tracks <span class='track' style='width:10px; height: 13px;'></span> to to edit their subtitles 
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                4. Keyboard Shortcuts
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                <h4>Keyboard Shortcuts</h4>
                <kbd class='light'>Shift</kbd> once to Start Timing. Press it again to Stop Timing.
                </br><kbd class='light'>Space</kbd> to play or pause the video
                </br><kbd class='light'>Esc</kbd>   Cancel a timing or editing of subtitle
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>


    <div id="new_project_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Subtitle a Video</h3>
      </div>
      <div class="modal-body">
          <div class='row span7'>
            <form class="sub center">
              <div class="control-group">
                <div class="input-append">
                  <input name="media_url" class="media_url span4" type="text" placeholder="Paste youtube url">
                  <button type="button" class="btn btn-danger sub_btn" data-loading-text="Loading...">Subtitle It</button>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>


    <% if @repo %>
      <div id="share_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Share</h3>
        </div>
        <div class="modal-body">
          <div class="social_share_container row">
            <div class="span offset1">
              <a href="https://www.facebook.com/sharer/sharer.php?u=<%= @repo.url %>" target="_blank">
                 <%= image_tag "fb-32.png" %>
              </a>
            </div>
            <div class="span">
              <a href="https://plus.google.com/share?url=<%= @repo.url %>" target="_blank">
                 <%= image_tag "gplus-32.png"  %>
              </a>
            </div>
          </div>
          <div class="row">
            <h5 class="span1 offset1" style="position: relative; top: -5px; margin-right: -20px;">Link</h5>
            <input class="span4 share_link_input" value="<%= @repo.url %>" type="text" onclick="this.select()">
          </div>
        </div>
      </div>
    <% end %>

    <div id="login_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Login</h3>
      </div>
      <div class="modal-body ">
        <%= render "devise/shared/login" %>
      </div>
    </div>

</body>
</html>
